<select
  #selectRef
  class="_select"
  [attr.id]="id()"
  [disabled]="isDisabled()"
  [class.-default-option]="selectedValue() === null"
  (change)="onSelectChange()"
>
  @if (withDefaultOption()) {
    <option value="" [selected]="selectedValue() === null">
      {{ labels()?.defaultOption ?? 'Select...'}}
    </option>
  }

  @for (option of options(); track option.value) {
    <option [value]="option.value" [selected]="selectedValue() === option.value">
      {{ option.label }}
    </option>
  }
</select>
