<ng-container *transloco="let t">
  <header>
    <app-page-header>
      <h1>{{ t('auth.signin') }}</h1>
    </app-page-header>
  </header>

  <main>
    <form [formGroup]="theForm" (ngSubmit)="onSignIn()">

      <!-- Email -->
      <app-form-field [id]="FIELD.EMAIL.htmlId">

        <app-form-field-label>
          Email
        </app-form-field-label>

        <app-text-input
          #emailRef
          [id]="FIELD.EMAIL.htmlId"
          type="email"
          [formControlName]="FIELD.EMAIL.id"
          [status]="fEmail | appFieldStatus"
          placeholder="Email..."
          [withFullWidth]="true"
          [withStatusIcon]="true"
          [withErrorId]="fEmail | appFieldErrorId:{
            'required': FIELD.EMAIL.errors.REQUIRED,
            'email': FIELD.EMAIL.errors.EMAIL,
          }"
        />

        <!-- Error: required -->
        <app-form-field-error
          *ngIf="fEmail | appFieldError:'required'"
          [errorId]="FIELD.EMAIL.errors.REQUIRED"
        >
          {{ t('common.error.required') }}
        </app-form-field-error>

        <!-- Error: email -->
        <app-form-field-error
          *ngIf="fEmail | appFieldError:'email'"
          [errorId]="FIELD.EMAIL.errors.EMAIL"
        >
          {{ t('common.error.email') }}
        </app-form-field-error>

      </app-form-field>

      <!-- Password -->
      <app-form-field [id]="FIELD.PASSWORD.htmlId">

        <app-form-field-label>
          Password
        </app-form-field-label>

        <app-text-input
          [id]="FIELD.PASSWORD.htmlId"
          type="password"
          [formControlName]="FIELD.PASSWORD.id"
          [status]="fPassword | appFieldStatus"
          placeholder="Password..."
          [withFullWidth]="true"
          [withStatusIcon]="true"
          [withErrorId]="fPassword | appFieldErrorId:{
            'required': FIELD.PASSWORD.errors.REQUIRED,
          }"
        />

        <!-- Error: required -->
        <app-form-field-error
          *ngIf="fPassword | appFieldError:'required'"
          [errorId]="FIELD.PASSWORD.errors.REQUIRED"
        >
          {{ t('common.error.required') }}
        </app-form-field-error>

      </app-form-field>

      <!-- Sign In -->
      <div class="form-footer">
        <button
          type="submit"
          appButton="primary"
          withIcon="left"
          size="medium"
          [disabled]="theForm.invalid"
        >
          <mat-icon>login</mat-icon>
          {{ t('common.signin') }}
        </button>
      </div>

    </form>
  </main>
</ng-container>
