@import 'scoped';

.app-notifications-host {
  position: fixed;
  z-index: 2;
  transition: 0.3s all ease-out;
  opacity: 0;
  z-index: 3;

  &.-position-top-right {
    top: 2rem;
    right: 2rem;
  }

  // TODO: Other positions...

  &.-open {
    opacity: 1;
  }

  // TODO: Make it mobile-first
  @media (max-width: 768px) {
    top: $app-pos-notification-mobile-top !important;
    right: $app-pos-notification-mobile-right !important;
    bottom: $app-pos-notification-mobile-bottom !important;
    left: $app-pos-notification-mobile-left !important;
  }
}
