.app-notifications-host {
  position: fixed;
  transition: 0.3s all ease-out;
  opacity: 0;
  z-index: 5;

  &.-position-top-right {
    top: 2rem;
    right: 2rem;
  }

  // TODO: Other positions...

  &.-open {
    opacity: 1;
  }

  // TODO: Make it mobile-first
  @media (max-width: 768px) {
    top: var(--app-pos-notification-mobile-top) !important;
    right: var(--app-pos-notification-mobile-right) !important;
    bottom: var(--app-pos-notification-mobile-bottom) !important;
    left: var(--app-pos-notification-mobile-left) !important;
  }
}
