<form *transloco="let t" [formGroup]="theForm" (ngSubmit)="onSignIn()">
  <!-- Email -->
  <app-form-field [id]="FIELD.EMAIL.htmlId">
    <app-form-field-label> Email </app-form-field-label>

    <app-text-input
      #emailRef
      [id]="FIELD.EMAIL.htmlId"
      type="email"
      [formControlName]="FIELD.EMAIL.id"
      [status]="fEmail | appFieldStatus"
      placeholder="Email..."
      fullWidth
      [withStatusIcon]="true"
      [withErrorId]="fEmail | appFieldErrorId:{
        'required': FIELD.EMAIL.errors.REQUIRED,
        'email': FIELD.EMAIL.errors.EMAIL,
      }"
    />

    <!-- Error: required -->
    @if (fEmail | appFieldError:'required') {
    <app-form-field-error [errorId]="FIELD.EMAIL.errors.REQUIRED">
      {{ t("common.error.required") }}
    </app-form-field-error>
    }

    <!-- Error: email -->
    @if (fEmail | appFieldError:'email') {
    <app-form-field-error [errorId]="FIELD.EMAIL.errors.EMAIL">
      {{ t("common.error.email") }}
    </app-form-field-error>
    }
  </app-form-field>

  <!-- Password -->
  <app-form-field [id]="FIELD.PASSWORD.htmlId">
    <app-form-field-label> Password </app-form-field-label>

    <app-text-input
      [id]="FIELD.PASSWORD.htmlId"
      type="password"
      [formControlName]="FIELD.PASSWORD.id"
      [status]="fPassword | appFieldStatus"
      placeholder="Password..."
      fullWidth
      [withStatusIcon]="true"
      [withErrorId]="fPassword | appFieldErrorId:{
        'required': FIELD.PASSWORD.errors.REQUIRED,
      }"
    />

    <!-- Error: required -->
    @if (fPassword | appFieldError:'required') {
    <app-form-field-error [errorId]="FIELD.PASSWORD.errors.REQUIRED">
      {{ t("common.error.required") }}
    </app-form-field-error>
    }
  </app-form-field>

  <!-- Submit -->
  <div class="form-footer">
    <button
      type="submit"
      appButton="primary"
      withIcon="left"
      size="medium"
      [disabled]="theForm.invalid"
    >
      <ng-icon [svg]="icon.matLogin" />
      {{ submitLabel() }}
    </button>
  </div>
</form>
