/**
 * Theme variables
 *
 * --app-card-list-background
 * --app-card-list-foreground
 * --app-card-list-completed
 * --app-card-list-border-color
 * --app-card-list-foreground-muted
 * --app-card-list-item-hover-background
 * --app-card-list-secondary-text
 */

.app-card-list {
  display: block;
  border-radius: 0.5rem;
  background-color: var(--app-card-list-background);
  color: var(--app-card-list-foreground);
  border: 1px solid var(--app-card-list-border-color);

  // A little override
  button > ng-icon,
  button[appbutton="ghost"] {
    color: var(--app-card-list-secondary-text);
  }

  &.-selectable {
    ._item-header ._left {
      cursor: pointer;
    }

    ._item:hover {
      background-color: var(--app-card-list-item-hover-background);
    }
  }

  &.-muted-title ._title {
    color: var(--app-card-list-foreground-muted);
  }

  > ._header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--app-card-list-border-color);
    padding: 1rem;
    position: relative;
  }

  &.-completed {
    outline: 2px solid var(--app-card-list-completed);

    ._completed-mark {
      opacity: 1;
    }
  }

  ._completed-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    transform: scale(0.8);
    border-radius: 200px;
    background-color: var(--app-card-list-completed);
    color: white; // TODO
    position: absolute;
    top: -0.75rem;
    left: -0.75rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  ._title {
    display: flex;
    align-items: center;

    h2 {
      display: inline-block;
      margin: 0;
    }
  }

  ._counters {
    color: var(--app-card-list-foreground-muted);
    margin-left: 0.25rem;
  }

  ._pin {
    margin-left: 0.5rem;
  }

  > ._header ._left {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  > ._header ._right {
    display: flex;
    align-items: center;
  }

  > ._items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  ._item {
    border-bottom: 2px solid var(--app-card-list-border-color);
  }

  ._item.-last {
    border-bottom: none;
  }

  ._item-info {
    font-size: 0.9em;
  }

  .-crossed {
    text-decoration: line-through !important;
    color: var(--app-card-list-foreground-muted);
  }

  ._item-header {
    display: flex;
    align-items: center;
    height: var(--app-height-card-list-item);
  }

  ._item-header ._left {
    height: 100%;
    padding: 0.33rem 1rem;
    padding-right: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  ._item-header ._right {
    padding: 0.33rem 1rem;
    padding-left: 0;
    display: flex;
    align-items: center;
  }

  ._toggle-description {
    margin-right: 0.33rem;
  }

  ._item-description {
    padding: 1rem;
    padding-top: 0;
    font-size: 0.85em;
    font-style: italic;
  }
}
