<div class="_header">

  <div class="_left">

    <div class="_title">
      <h2>{{ title }}</h2>
    </div>

    <div class="_pin">
      <button appButton isCircle withIcon="left" size="extra-small" (click)="onTogglePin()">
        <mat-icon>{{ isPinned ? 'clear' : 'push_pin' }}</mat-icon>
        {{ isPinned ? 'Unpin' : 'Pin' }}
      </button>
    </div>
  </div>

  <div class="_right">

    <div class="_list-actions">
      <app-actions-menu
        [id]="title + '-menu'"
        [actions]="listActions"
        position="left"
        (actionConfirmed)="onListAction($event)"
      >
        <ng-container *appActionsMenuButton>
          <button type="button" appButton="ghost" withIconOnly isCircle size="small">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </ng-container>
      </app-actions-menu>
    </div>

    <!-- Todo: Caret for toggling items -->
    <div class="_toggle-items">
      <button type="button" appButton="ghost" withIconOnly isCircle size="small">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>

</div>

<ul class="_items">
  <li *ngFor="let item of items" class="_item">

    <div class="_item-header">

      <div class="_left">
        <app-checkbox [id]="item.id" [checked]="item.isDone" color="black">
          {{ item.amount }}x {{ item.name }}
        </app-checkbox>
      </div>

      <div class="_right">

        <!-- Show/hide description -->
        <div class="_toggle-description">
          <button
            type="button"
            appButton="ghost"
            withIconOnly
            isCircle
            size="small"
          >
            <mat-icon>notes</mat-icon>
          </button>
        </div>

        <!-- Actions (TODO: Careful about itemActionsFn(item)!) -->
        <app-actions-menu
          [id]="item.id + '-menu'"
          [actions]="itemActionsFn(item)"
          position="left"
          (actionConfirmed)="onItemAction(item.id, $event)"
        >
          <ng-container *appActionsMenuButton>
            <button type="button" appButton="outline" withIconOnly isCircle size="small">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </ng-container>
        </app-actions-menu>

      </div>

    </div>

  </li>
</ul>
