app-notification {
  --_transition-width: 0;
  --_transition-duration: 3000ms;
  --_background: black;
  --_min-width: 350px;
  --_max-width: 450px;
  --_more-width: 1.2rem;
  --_dismiss-width: 1.75rem;
}

.app-notification {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: min(var(--_min-width), 95vw);
  max-width: max(var(--_max-width), 95vw);
  font-size: 1rem;
  padding: 0.25rem 1rem;
  padding-bottom: calc(0.25rem + var(--app-height-notification-progress));
  background-color: var(--_background);
  color: var(--app-color-white);
  font-size: 0.85rem;
  border-radius: 0.33rem;
}

.app-notification.-type-success {
  --_background: var(--app-color-success);
}

.app-notification.-type-error {
  --_background: var(--app-color-error);
}

.app-notification.-animating {
  --_transition-width: 0;
}

.app-notification.-stopped {
  --_transition-width: 1;
}

.app-notification.-stopped > ._progress {
  transition: none;
}

.app-notification > ._icon {
  font-size: 1rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-notification > ._message {
  flex-grow: 1;
}

.app-notification > ._more {
  font-size: var(--_more-width);
  line-height: var(--_more-width);
  width: var(--_more-width);
  height: var(--_more-width);
  position: absolute;
  font-size: calc(0.6 * var(--_more-width));
  line-height: calc(0.6 * var(--_more-width));
  right: calc(-0.5 * var(--_more-width));
  border-radius: 100px;
  background-color: var(--app-color-white);
  color: var(--app-color-black);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-notification > ._dismiss {
  font-size: var(--_dismiss-width);
  line-height: var(--_dismiss-width);
  width: var(--_dismiss-width);
  height: var(--_dismiss-width);
  font-weight: lighter;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  border-radius: 100px;
  z-index: 1;
}

.app-notification > ._dismiss:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.app-notification > ._progress {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: var(--app-height-notification-progress);
  background-color: rgba(255, 255, 255, 0.5);
  transform-origin: left;
  transition: transform var(--_transition-duration) linear;
  transform: scaleX(var(--_transition-width));
}
