@import 'scoped';

/**
 * Theme variables
 *
 * --app-notification-transition-width
 * --app-notification-transition-duration
 * --app-notification-background
 */

.app-notification {
  $app-notification-more-size: 1.2rem;
  $app-notification-dismiss-size: 1.75rem;

  --app-notification-transition-width: 0;
  --app-notification-transition-duration: 3000ms;
  --app-notification-background: black;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: min(#{$app-width-notification-min}, 95vw);
  max-width: max(#{$app-width-notification-max}, 95vw);
  font-size: 1rem;
  padding: 0.25rem 1rem;
  padding-bottom: calc(0.25rem + #{$app-height-notification-progress});
  background-color: var(--app-notification-background);
  color: $app-color-white;
  font-size: 0.85rem;
  border-radius: 0.33rem;

  &.-type-success {
    --app-notification-background: #{$app-color-success};
  }

  &.-type-error {
    --app-notification-background: #{$app-color-error};
  }

  &.-animating {
    --app-notification-transition-width: 0;
  }

  &.-stopped {
    --app-notification-transition-width: 1;
    & > ._progress {
      transition: none;
    }
  }

  > ._icon {
    font-size: 1rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > ._message {
    flex-grow: 1;
  }

  > ._more {
    font-size: $app-notification-more-size;
    line-height: $app-notification-more-size;
    width: $app-notification-more-size;
    height: $app-notification-more-size;
    position: absolute;
    font-size: 0.6 * $app-notification-more-size;
    line-height: 0.6 * $app-notification-more-size;
    right: -0.5 * $app-notification-more-size;
    border-radius: 100px;
    background-color: $app-color-white;
    color: $app-color-black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > ._dismiss {
    font-size: $app-notification-dismiss-size;
    line-height: $app-notification-dismiss-size;
    width: $app-notification-dismiss-size;
    height: $app-notification-dismiss-size;
    font-weight: lighter;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    border-radius: 100px;
    z-index: 1;

    &:hover {
      background-color: rgba(0,0,0,0.2);
    }
  }

  > ._progress {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: $app-height-notification-progress;
    background-color: rgba(255,255,255,0.5);
    transform-origin: left;
    transition: transform var(--app-notification-transition-duration) linear;
    transform: scaleX(var(--app-notification-transition-width));
  }
}
