@import 'scoped';

@mixin app-checkbox-color(
  $color-checked: black,
  $color-hover-checked: #444,
) {
  &.-checked ._checkmark {
    background-color: $color-checked;
    border-color: $color-checked;
  }

  &.-interactable.-checked:hover ._checkmark {
    background-color: $color-hover-checked;
    border-color: $color-hover-checked;
  }
}

.app-checkbox {
  --app-checkbox-size: 20px;

  display: flex;
  align-items: center;
  border-radius: 0.25rem;

  &:focus {
    outline-offset: 4px;
  }

  &.-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  ._checkmark {
    position: relative;
    background-color: $app-color-white;
    border: 2px solid $app-color-grey-600;
    min-width: var(--app-checkbox-size);
    max-width: var(--app-checkbox-size);
    width: var(--app-checkbox-size);
    min-height: var(--app-checkbox-size);
    max-height: var(--app-checkbox-size);
    height: var(--app-checkbox-size);
    border-radius: calc(0.2 * var(--app-checkbox-size));
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      --border-size: clamp(2px, calc(0.1 * var(--app-checkbox-size)), 10px);

      position: absolute;
      content: '';
      width: calc(0.65 * var(--app-checkbox-size));
      height: calc(0.35 * var(--app-checkbox-size));
      border: var(--border-size) solid $app-color-white;
      border-top: 0;
      border-right: 0;
      z-index: 2;
      transition: 0.1s opacity ease-in;
      transform-origin: left bottom;
      transform: translate(35%, 10%) rotate(-45deg);
      opacity: 0;
    }
  }

  &.-interactable {
    cursor: pointer;
  }

  ._content:not(:empty) {
    margin-left: 0.5rem;
  }

  &.-interactable:hover,
  &.-interactable:focus {
    ._content {
      color: $app-color-grey-900;
    }
  }

  &.-checked {
    ._checkmark::after {
      opacity: 1;
    }
  }

  &.-color-primary {
    @include app-checkbox-color(
      var(--app-color-primary-500),
      var(--app-color-primary-600),
    );
  }

  &.-color-secondary {
    @include app-checkbox-color(
      var(--app-color-secondary-500),
      var(--app-color-secondary-600),
    );
  }

  &.-color-tertiary {
    @include app-checkbox-color(
      var(--app-color-tertiary-500),
      var(--app-color-tertiary-600),
    );
  }

  &.-color-black {
    @include app-checkbox-color(
      $app-color-black,
      scale_color($app-color-black, $lightness: 10%),
    );
  }
}
