<header>
  <app-page-header>

    <h1>Inventory</h1>

    <ng-container slot="right">
      <app-actions-menu
        id="list-contextual-menu"
        [actions]="listContextualMenu"
        position="left"
        (actionConfirmed)="onListContextualAction($event)"
      >
        <ng-container *appActionsMenuButton>
          <button
            type="button"
            appButton="outline"
            type="button"
            isCircle
            withIconOnly
          >
            <mat-icon>more_horiz</mat-icon>
          </button>
        </ng-container>

        <ng-container *appActionsMenuItem="let action">
          <mat-icon>{{ action.icon }}</mat-icon>
          {{ action.label }}
        </ng-container>
      </app-actions-menu>
    </ng-container>

  </app-page-header>
</header>

<!-- List -->
<ul *ngIf="items$ | async as itemGroups" class="_items">
  <li *ngFor="let group of itemGroups">
    <h2>{{ group.category }}</h2>
    <app-shopping-list>
      <app-shopping-list-item
        *ngFor="let item of group.items"
        [item]="item"
        [actions]="itemContextualMenu"
      />
    </app-shopping-list>
  </li>
</ul>
