<ng-container *transloco="let t">
  <div class="fab-large-container">
    <!-- Filters -->
    @if (filters(); as filters) {
    <ul class="_filters">
      @for (filter of filters; track filter.key) {
      <li>
        <button
          type="button"
          appButton
          [color]="themeConfig().filterColor"
          withIcon="left"
          size="extra-small"
          (click)="onRemoveFilter(filter)"
        >
          <ng-icon [svg]="matClear" />
          {{ filter.label ? t(filter.label) : filter.value }}
        </button>
      </li>
      }
    </ul>
    }

    <!-- Items -->
    <ng-container
      [ngTemplateOutlet]="
        itemGroups().length
          ? itemsRef
          : loaded()
          ? noItemsRef
          : inErrorStatus()
          ? errorStateRef
          : null
      "
    />

    <!-- Add new item -->
    <button
      appIconButton
      [color]="themeConfig().fabColor"
      circled
      size="large"
      floating="fixed"
      floatingBottom="4.7rem"
      floatingRight="calc(50vw - 0.5 * var(--app-width-container) + 1.1rem)"
      [attr.aria-label]="t('inventory.fab')"
      (click)="onShowCreateItemModal()"
    >
      <ng-icon [svg]="matAdd" />
    </button>
  </div>

  <!-- Template: Show items -->
  <ng-template #itemsRef>
    <ul class="_cards">
      @for (group of itemGroups(); track group.category) {
      <li>
        <app-card-list
          [title]="
            group.category === DEFAULT_CATEGORY
              ? t('common.uncategorized')
              : group.category
          "
          [withMutedTitle]="group.category === DEFAULT_CATEGORY"
          [isSelectable]="false"
          [items]="group.items"
          [listActions]="categoryContextualMenu"
          [itemActionsFn]="getItemContextualMenu"
          [withCounters]="true"
          [isPinned]="pinnedCategory() === group.category"
          [labels]="{
            pinned: t('common.unpin'),
            unpinned: t('common.pin')
          }"
          (listActionClicked)="onCategoryAction(group.category, $event)"
          (itemActionClicked)="onItemAction($event)"
          (pinned)="onPinCategory(group.category, $event)"
        />
      </li>
      }
    </ul>
  </ng-template>

  <!-- Template: No items -->
  <ng-template #noItemsRef>
    <p>{{ t("inventory.noItems") }}</p>
  </ng-template>

  <!-- Template: Error status -->
  <ng-template #errorStateRef>
    <p>{{ t("inventory.errorStatus") }}</p>
  </ng-template>
</ng-container>
