<app-actions-menu
  style="margin-left: 5rem;"
  id="my-demo-menu-left"
  [actions]="actions"
  position="left"
  (actionConfirmed)="consoleLog($event)"
>
  <button *appActionsMenuButton appButton size="small" type="button">
    Left
  </button>
</app-actions-menu>

<hr>

<app-actions-menu
  id="my-demo-menu-right"
  [actions]="actions"
  position="right"
  (actionConfirmed)="consoleLog($event)"
>
  <button *appActionsMenuButton appButton size="small" type="button">
    Right
  </button>
</app-actions-menu>
