<app-actions-menu
  style="margin-left: 5rem;"
  [id]="'my-demo-menu'"
  [actions]="actions"
  position="left"
  (actionConfirmed)="consoleLog($event)"
>
  <ng-container *appActionsMenuButton>
    <button appButton size="small" type="button">
      Left
    </button>
  </ng-container>

  <ng-container *appActionsMenuItem="let action">
    <mat-icon>{{ action.icon }}</mat-icon>
    {{ action.label }}
  </ng-container>
</app-actions-menu>

<hr>

<app-actions-menu
  [id]="'my-demo-menu'"
  [actions]="actions"
  position="right"
  (actionConfirmed)="consoleLog($event)"
>
  <ng-container *appActionsMenuButton>
    <button appButton size="small" type="button">
      Right
    </button>
  </ng-container>

  <ng-container *appActionsMenuItem="let action">
    <mat-icon>{{ action.icon }}</mat-icon>
    {{ action.label }}
  </ng-container>
</app-actions-menu>
