<h2>Position</h2>
<app-actions-menu
  style="margin-left: 5rem;"
  id="my-demo-menu-left"
  [actions]="actions"
  position="left"
  (actionConfirmed)="consoleLog($event)"
>
  <button *appActionsMenuButton appButton size="small" type="button">
    Left (default)
  </button>
</app-actions-menu>

<hr>

<app-actions-menu
  id="my-demo-menu-right"
  [actions]="actions"
  position="right"
  (actionConfirmed)="consoleLog($event)"
>
  <button *appActionsMenuButton appButton size="small" type="button">
    Right
  </button>
</app-actions-menu>

<h2>Offset</h2>
<app-actions-menu
  id="my-demo-menu-offset-0"
  [actions]="actions"
  offsetY="0px"
  (actionConfirmed)="consoleLog($event)"
>
  <button *appActionsMenuButton appButton size="small" type="button">
    0px (default)
  </button>
</app-actions-menu>

&nbsp;

<app-actions-menu
  id="my-demo-menu-offset-05rem"
  [actions]="actions"
  offsetY="0.5rem"
  (actionConfirmed)="consoleLog($event)"
>
  <button *appActionsMenuButton appButton size="small" type="button">
    0.5rem
  </button>
</app-actions-menu>

&nbsp;

<app-actions-menu
  id="my-demo-menu-offset-32px"
  [actions]="actions"
  offsetY="-32px"
  (actionConfirmed)="consoleLog($event)"
>
  <button *appActionsMenuButton appButton size="small" type="button">
    -16px
  </button>
</app-actions-menu>

<h2>Using open state on button</h2>
<app-actions-menu
  id="my-demo-menu-open-state"
  [actions]="actions"
  position="right"
  (actionConfirmed)="consoleLog($event)"
>
  <button
    *appActionsMenuButton="let open"
    type="button"
    appButton
    [color]="open ? 'primary' : 'secondary'"
    size="small"
  >
    {{ open ? 'OPEN!' : 'This is closed.' }}
  </button>
</app-actions-menu>