<!-- TODO: Use <dialog>? -->
<div
  class="_modal"
  role="dialog"
  aria-labelledby="modal-header"
  aria-describedby="modal-body"
>
  <header id="modal-header">
    Modal header
  </header>

  <div class="_body" id="modal-body">
    <ng-container #modalTarget></ng-container>
  </div>

  <footer>
    Modal footer
  </footer>

  <div class="_dismiss">
    <button
      type="button"
      appButton="ghost"
      withIconOnly
      isCircle
      size="small"
      (click)="onDismiss()"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </div>

</div>

<div class="_backdrop" (click)="onDismiss()"></div>
