<div
  #modalRef
  class="_modal"
  role="dialog"
  aria-modal="true"
  aria-labelledby="modal-header"
  aria-describedby="modal-body"
>
  <!-- Header -->
  <header id="modal-header">
    @if (headerTemplate(); as headerTemplate) {
      <ng-container [ngTemplateOutlet]="headerTemplate" />
    } @else {
      <h2>&nbsp;</h2>
    }
  </header>

  <!-- Dismiss -->
  <div class="_dismiss">
    <button
      type="button"
      appButton="ghost"
      withIconOnly
      isCircle
      size="small"
      (click)="onDismiss()"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <!-- Body -->
  <div class="_body" id="modal-body">
    <ng-container #modalTarget></ng-container>
  </div>

  <!-- Footer -->
  <footer>
    @if (footerTemplate(); as footerTemplate) {
      <ng-container [ngTemplateOutlet]="footerTemplate" />
    } @else {
      <div class="default-footer">

        <!-- Cancel -->
        <button
          type="button"
          appButton="outline"
          size="small"
          withIcon="left"
          (click)="onDismiss()"
        >
          <mat-icon>close</mat-icon>
          {{ labels()?.cancel ?? 'Cancel' }}
        </button>

        <!-- Confirm -->
        <button
          type="button"
          appButton="primary"
          withIcon="left"
          size="small"
          (click)="onConfirm()"
        >
          <mat-icon>check</mat-icon>
          {{ labels()?.confirm ?? 'Confirm' }}
        </button>

      </div>
    }

  </footer>
</div>

<div class="_backdrop" (click)="onDismiss()"></div>
