.invite-user-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.generated-link {
  border-radius: 0.5rem;
  background-color: var(--app-color-white);
  border: 1px solid var(--app-color-grey-600);
  padding: 1rem;
  font-family: monospace;
}
