/**
 * Theme variables
 * --app-color-grey-600
 * --app-color-grey-700
 * --app-color-primary-400
 * --app-color-primary-600
 * --app-color-secondary-400
 * --app-color-secondary-600
 * --app-color-tertiary-400
 * --app-color-tertiary-600
 * --app-toggle-hover-foreground
 */

app-toggle {
  --_bullet-size: 0.5rem;
  --_rail-width: calc(var(--_bullet-size) * 1.667);
  --_rail-height: calc(var(--_bullet-size) * 0.667);
  --_offset: 0;
  --_color-rail: var(--app-color-grey-600);
  --_color-bullet: var(--app-color-grey-700);
}

.app-toggle {
  position: relative;
}

.app-toggle.-checked {
  --_offset: calc(var(--_rail-width) - var(--_bullet-size));
}

.app-toggle.-checked.-color-primary {
  --_color-rail: var(--app-color-primary-400);
  --_color-bullet: var(--app-color-primary-600);
}

.app-toggle.-checked.-color-secondary {
  --_color-rail: var(--app-color-secondary-400);
  --_color-bullet: var(--app-color-secondary-600);
}

.app-toggle.-checked.-color-tertiary {
  --_color-rail: var(--app-color-tertiary-400);
  --_color-bullet: var(--app-color-tertiary-600);
}

.app-toggle.-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.app-toggle.-with-label-left {
  ._toggle {
    order: 1;
  }
}

.app-toggle.-with-label-left-fullwidth {
  ._toggle {
    order: 1;
  }

  button[aria-pressed] {
    width: 100%;
    justify-content: space-between;
  }
}

.app-toggle.-with-label-right {
  /* Default */
}

.app-toggle.-with-label-right-fullwidth button[aria-pressed] {
  width: 100%;
  justify-content: space-between;
}

.app-toggle button[aria-pressed] {
  &:hover,
  &:focus {
    outline-offset: 0.5rem;
    filter: brightness(0.85);
    color: var(--app-toggle-hover-foreground);
  }
}

.app-toggle button[aria-pressed] {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.66rem;
  padding: 0;
}

.app-toggle ._toggle {
  display: block;
  position: relative;
  width: var(--_rail-width);
  height: var(--_rail-height);
}

/* The rail */
.app-toggle ._toggle::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_color-rail);
  border-radius: var(--_rail-height);
  z-index: 1;
}

/* The bullet */
.app-toggle ._toggle::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transition: 0.15s transform ease-in-out;
  transform: translate(var(--_offset), -50%);
  width: var(--_bullet-size);
  height: var(--_bullet-size);
  background-color: var(--_color-bullet);
  border-radius: var(--_bullet-size);
  z-index: 2;
}
