@mixin app-theme-fairy() {
  body[theme="fairy"] {
    // TODO: Turn these variables into SCSS?
    --app-color-grey-50: #fefefe;
    --app-color-grey-100: #fefdfd;
    --app-color-grey-200: #fbfafa;
    --app-color-grey-300: #f9f7f7;
    --app-color-grey-400: #f5f1f1;
    --app-color-grey-500: #f0ebeb;
    --app-color-grey-600: #d8d4d4;
    --app-color-grey-700: #908d8d;
    --app-color-grey-800: #6c6a6a;
    --app-color-grey-900: #484747;

    --app-color-primary-50: #fbf9fa;
    --app-color-primary-100: #f7f3f5;
    --app-color-primary-200: #ece0e6;
    --app-color-primary-300: #e1ced7;
    --app-color-primary-400: #caa9b9;
    --app-color-primary-500: #b3849b;
    --app-color-primary-600: #a1778c;
    --app-color-primary-700: #6b4f5d;
    --app-color-primary-800: #513b46;
    --app-color-primary-900: #36282f;

    --app-color-secondary-50: #faf7f7;
    --app-color-secondary-100: #f6eff0;
    --app-color-secondary-200: #e8d6d8;
    --app-color-secondary-300: #dbbec1;
    --app-color-secondary-400: #bf8d93;
    --app-color-secondary-500: #a45c64;
    --app-color-secondary-600: #94535a;
    --app-color-secondary-700: #62373c;
    --app-color-secondary-800: #4a292d;
    --app-color-secondary-900: #311c1e;

    --app-color-tertiary-50: #f7fbfb;
    --app-color-tertiary-100: #f0f7f8;
    --app-color-tertiary-200: #d8eaec;
    --app-color-tertiary-300: #c1dee1;
    --app-color-tertiary-400: #93c5cb;
    --app-color-tertiary-500: #64acb4;
    --app-color-tertiary-600: #5a9ba2;
    --app-color-tertiary-700: #3c676c;
    --app-color-tertiary-800: #2d4d51;
    --app-color-tertiary-900: #1e3436;

    // Root
    --app-root-color-background: var(--app-color-primary-100);
    --app-root-color-foreground: var(--app-color-grey-900);

    // Actions menu
    --app-actions-menu-item-background: var(--app-root-color-background);
    --app-actions-menu-item-foreground: var(--app-color-black);
    --app-actions-menu-item-border-color: var(--app-color-primary-200);
    --app-actions-menu-item-active-background: var(--app-color-primary-500);
    --app-actions-menu-item-active-foreground: var(--app-color-white);

    // Autocomplete
    --app-autocomplete-item-active-background: var(--app-color-primary-500);
    --app-autocomplete-item-active-foreground: var(--app-color-white);
    --app-autocomplete-border-color: var(--app-color-grey-700);
    --app-autocomplete-item-background: var(--app-root-color-background);
    --app-autocomplete-item-foreground: var(--app-color-black);

    // Bottom menu
    --app-bottom-menu-top-border-color: var(--app-color-primary-300);
    --app-bottom-menu-item-background: var(--app-root-color-background);
    --app-bottom-menu-item-foreground: var(--app-color-primary-700);
    --app-bottom-menu-item-indicator-color: var(--app-color-primary-500);
    --app-bottom-menu-item-indicator-hover-color: var(--app-color-primary-600);

    // Button
    --app-button-primary-background: var(--app-color-primary-500);
    --app-button-primary-foreground: var(--app-color-white);
    --app-button-primary-hover-background: var(--app-color-primary-600);
    --app-button-secondary-background: var(--app-color-secondary-500);
    --app-button-secondary-foreground: var(--app-color-white);
    --app-button-secondary-hover-background: var(--app-color-secondary-600);
    --app-button-tertiary-background: var(--app-color-tertiary-500);
    --app-button-tertiary-foreground: var(--app-color-white);
    --app-button-tertiary-hover-background: var(--app-color-tertiary-600);
    --app-button-outline-border-color: var(--app-color-primary-500);
    --app-button-outline-hover-background: var(--app-color-primary-500);
    --app-button-outline-hover-foreground: var(--app-color-white);
    --app-button-ghost-foreground: var(--app-color-black);
    --app-button-ghost-hover-background: rgba(0, 0, 0, 0.1);

    // Card list (variant 1)
    --app-card-list-background: var(--app-color-primary-600);
    --app-card-list-foreground: var(--app-color-white);
    --app-card-list-completed: var(--app-color-secondary-700);
    --app-card-list-border-color: rgba(0, 0, 0, 0.15);
    --app-card-list-foreground-muted: var(--app-color-grey-500);
    --app-card-list-item-hover-background: rgba(0, 0, 0, 0.15);
    --app-card-list-secondary-text: var(--app-color-white);

    // Checkbox
    --app-checkbox-background: var(--app-color-white);
    --app-checkbox-border-color: var(--app-color-primary-300);
    --app-checkbox-hover-foreground: var(--app-color-primary-500);

    // Form field
    --app-form-field-error: var(--app-color-error);
    --app-form-field-hint: var(--app-color-grey-800);
    --app-form-field-label: var(--app-color-black);

    // Modal
    --app-modal-background: var(--app-root-color-background);

    // Page header
    --app-page-header-bottom-line: var(--app-color-grey-600);

    // Quick number
    --app-quick-number-background: var(--app-color-white);
    --app-quick-number-border-color: var(--app-color-grey-600);

    // Form control
    --app-form-control-border-color: var(--app-color-primary-200);
    --app-form-control-hover-border-color: var(--app-color-primary-400);
    --app-form-control-focus-border-color: var(--app-color-black);
    --app-form-control-background: var(--app-color-white);
    --app-form-control-foreground: var(--app-color-black);
    --app-form-control-placeholder: var(--app-color-grey-700);

    // Select
    --app-select-closed-caret: var(--app-color-black);
    --app-select-open-caret: var(--app-color-primary-500);

    // Text input
    // ...

    // Textarea
    // ...

    // Toggle
    --app-toggle-hover-foreground: var(--app-color-primary-500);
  }
}
