@import 'scoped';

// Variables
// --app-actions-menu-item-background
// --app-actions-menu-item-foreground
// --app-actions-menu-item-border-color
// --app-actions-menu-item-active-background
// --app-actions-menu-item-active-foreground
// --app-actions-menu-offset-y (LOCAL)

.app-actions-menu {
  --app-actions-menu-offset-y: 0;

  position: relative;
  display: inline-block;

  &-items {
    transform: translateY(var(--app-actions-menu-offset-y));
    position: absolute;
    z-index: 4;
    isolation: isolate;
    background-color: var(--app-actions-menu-item-background, $app-color-white);
    color: var(--app-actions-menu-item-foreground, $app-color-black);
    border: 2px solid var(--app-actions-menu-item-border-color, $app-color-grey-600);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 0.25rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    width: max-content;

    &.-open {
      display: block;
    }

    &.-position-left {
      left: auto;
      right: 0;
    }

    &.-position-right {
      left: 0;
      right: auto;
    }
  }

  &-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

    mat-icon {
      font-size: 1.5rem;
    }

    &:hover, &:focus, &.-focused {
      background-color: var(--app-actions-menu-item-active-background, $app-color-primary-500);
      color: var(--app-actions-menu-item-active-foreground, $app-color-black);
    }

    &.-last {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    &.-first {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
  }
}
