<h2>Inside form</h2>

<pre>{{ { value: myForm.value, errors: myForm.errors } | json }}</pre>

<form [formGroup]="myForm">
  <app-quantity-input
    formControlName="quantity"
  ></app-quantity-input>
</form>

<h2>Outside form</h2>
<app-quantity-input
  [value]="2"
  (changed)="consoleLog('changed', $event)"
></app-quantity-input>

<h2>With min/max</h2>
<p>min: 1, max: 10</p>
<app-quantity-input
  [value]="1"
  [min]="1"
  [max]="10"
  (changed)="consoleLog('changed', $event)"
></app-quantity-input>

<h2>Disabled</h2>
<app-quantity-input
  [isDisabled]="true"
></app-quantity-input>

<h2>Color</h2>
<p>TODO...</p>
