@import 'scoped';

/**
 * Theme variables
 *
 * --app-form-field-label
 */

.app-form-field-label {
  label {
    display: inline-block;
    color: var(--app-form-field-label);
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
}
