<div class="app-container">

  <!-- Stack level: 0 -->
  <router-outlet></router-outlet>

  <!-- Stack level: 1 -->
  <app-linear-spinner
    *ngIf="loading"
    [fixed]="true"
  ></app-linear-spinner>

  <!-- Stack level: 2 -->
  <app-notifications-host
    [notification]="ui.notification.current()"
    (dismissed)="ui.notification.dismiss()"
  ></app-notifications-host>
</div>

<!-- Stack level: 3 -->
<app-modal-host
  *transloco="let t"
  [labels]="{
    cancel: t('components.modal.cancel'),
    confirm: t('components.modal.confirm'),
  }"
></app-modal-host>
