<div class="app-container">
  <!-- Stack level: 0 -->
  <router-outlet />

  <!-- Stack level: 1 -->
  @if (loading()) {
  <app-linear-spinner
    [color]="themeConfig().linearSpinnerColor"
    [fixed]="true"
  />
  }

  <!-- Stack level: 2 -->
  <app-notifications-host
    [notification]="notification()"
    (dismissed)="onDismissNotification()"
  />
</div>

<!-- Stack level: 3 -->
<app-modal-host
  *transloco="let t"
  [labels]="{
    cancel: t('components.modal.cancel'),
    confirm: t('components.modal.confirm'),
  }"
/>
