@import 'scoped';

:host.container {
  display: block;
  max-width: 800px; // TODO
  margin: 0 auto;
  min-height: 100vh;
  padding: 0;
}

main {
  padding-bottom: 80px; // TODO
  // overflow-y: auto;
  // max-height: 100vh;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  max-width: 800px; // TODO
  margin: 0 auto;
}
