<ng-container *ngIf="vm$ | async as vm" [ngSwitch]="vm.mode">
  <ng-container
    *ngSwitchCase="QUICK_INPUT_MODE.CHOICES"
    [ngTemplateOutlet]="choiceMode"
    [ngTemplateOutletContext]="{ $implicit: vm }"
  ></ng-container>
  <ng-container
    *ngSwitchCase="QUICK_INPUT_MODE.EDITING"
    [ngTemplateOutlet]="editingMode"
    [ngTemplateOutletContext]="{ $implicit: vm }"
  ></ng-container>
</ng-container>

<!-- Template: Choice mode -->
<ng-template #choiceMode let-vm>
  <ng-container *ngFor="let value of vm.values">
    <button type="button" appButton="outline" (click)="onSelectValue(value)">
      {{ value }}
    </button>
  </ng-container>
  
  <button
    type="button"
    appButton="outline"
    size="small"
    title="Edit value"
    (click)="onSwitchToEdit()"
  >
    <mat-icon>edit</mat-icon>
  </button>
</ng-template>

<!-- Template: Editing mode -->
<ng-template #editingMode let-vm>
  <p>The editing mode...</p>
  <button
    type="button"
    appButton="outline"
    size="small"
    title="Confirm value"
    (click)="onSwitchToChoices()"
  >
    <mat-icon>check</mat-icon>
  </button>
</ng-template>
