/**
 * Theme variables
 *
 * --app-form-control-border-color
 * --app-form-control-hover-border-color
 * --app-form-control-focus-border-color
 * --app-form-control-background
 * --app-form-control-foreground
 * --app-form-control-placeholder
 */

app-text-input {
  --_width: fit-content;
}

.app-text-input {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  max-width: 100% !important;

  > input {
    min-width: 0 !important;
  }

  > input::placeholder {
    color: var(--app-form-control-placeholder);
  }

  &.-with-custom-width {
    width: var(--_width);
  }

  &.-full-width {
    width: 100% !important;

    ._input {
      min-width: auto;
      width: 100% !important;
    }
  }

  &.-clearable {
    ._input {
      padding-right: 0.75rem;
    }

    ._icons {
      right: 0.75rem;
    }
  }

  ._input {
    border: 2px solid var(--app-form-control-border-color);
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1rem;
    min-width: 19.25rem;
    height: 2.8rem;
    padding: 0 1rem;
    background-color: var(--app-form-control-background);
    color: var(--app-form-control-foreground);
    transition: 0.15s border-color ease-in-out;

    &:hover {
      border-color: var(--app-form-control-hover-border-color);
    }

    &:focus {
      outline: 0;
      border-color: var(--app-form-control-focus-border-color);
      box-shadow: 0 2px 5px #0e141a1a;
    }
  }

  ._icons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 1rem;
  }

  // Status -------------------------------------------------------------------
  &.-status {
    &-success {
      ._input {
        border-color: var(--app-color-success);
      }
      ._status-icon {
        color: var(--app-color-success);
      }
    }

    &-error {
      ._input {
        border-color: var(--app-color-error);
      }
      ._status-icon {
        color: var(--app-color-error);
      }
    }
  }

  // Disabled -----------------------------------------------------------------
  &.-disabled ._input,
  & input[readonly],
  & input[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  // Hide native icons
  & input::-ms-clear,
  & input::-ms-reveal {
    display: none;
  }

  & input[type="search"]::-webkit-search-decoration,
  & input[type="search"]::-webkit-search-cancel-button,
  & input[type="search"]::-webkit-search-results-button,
  & input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}
