<!-- The input -->
<input
  #inputRef
  [attr.id]="id()"
  [attr.type]="type()"
  [attr.placeholder]="placeholder()"
  [attr.aria-invalid]="withErrorId() !== null ? 'true' : 'false'"
  [attr.aria-errormessage]="withErrorId()"
  [attr.autocomplete]="autocomplete()"
  [disabled]="isDisabled()"
  class="_input"
  (change)="onInputChange($event)"
  (input)="onInput($event)"
  (blur)="onBlur()"
/>

<!-- Icons -->
<div class="_icons">
  <!-- Clearable icon -->
  @if (clearable()) {
  <button
    appButton="ghost"
    type="button"
    isCircle
    withIconOnly
    size="extra-small"
    (click)="onClearInput()"
  >
    &times;
  </button>
  }

  <!-- Status icon -->
  @if (withStatusIcon() && status()) {
  <ng-icon
    [svg]="status() === 'success' ? matCheck : matClear"
    width="1rem"
    class="_status-icon"
  />
  }
</div>
