body[theme="golden"] {
  --app-color-grey-50: #fffefe;
  --app-color-grey-100: #fffefc;
  --app-color-grey-200: #fefcf8;
  --app-color-grey-300: #fefbf4;
  --app-color-grey-400: #fdf7ec;
  --app-color-grey-500: #fcf4e4;
  --app-color-grey-600: #e3dccd;
  --app-color-grey-700: #979289;
  --app-color-grey-800: #716e67;
  --app-color-grey-900: #4c4944;

  --app-color-primary-50: #fdfbf4;
  --app-color-primary-100: #fcf8e8;
  --app-color-primary-200: #f6ecc6;
  --app-color-primary-300: #f1e1a4;
  --app-color-primary-400: #e7cb60;
  --app-color-primary-500: #dcb41c;
  --app-color-primary-600: #c6a219;
  --app-color-primary-700: #846c11;
  --app-color-primary-800: #63510d;
  --app-color-primary-900: #423608;

  --app-color-secondary-50: #fbf8fa;
  --app-color-secondary-100: #f8f1f4;
  --app-color-secondary-200: #ecdce4;
  --app-color-secondary-300: #e1c7d4;
  --app-color-secondary-400: #cb9eb4;
  --app-color-secondary-500: #b47494;
  --app-color-secondary-600: #a26885;
  --app-color-secondary-700: #6c4659;
  --app-color-secondary-800: #513443;
  --app-color-secondary-900: #36232c;

  --app-color-tertiary-50: #f7faf8;
  --app-color-tertiary-100: #eff6f2;
  --app-color-tertiary-200: #d6e8de;
  --app-color-tertiary-300: #bedbcb;
  --app-color-tertiary-400: #8dbfa3;
  --app-color-tertiary-500: #5ca47c;
  --app-color-tertiary-600: #539470;
  --app-color-tertiary-700: #37624a;
  --app-color-tertiary-800: #294a38;
  --app-color-tertiary-900: #1c3125;

  /* Root */
  --app-root-color-background: var(--app-color-grey-400);
  --app-root-color-foreground: var(--app-color-black);

  /* Actions menu */
  --app-actions-menu-item-background: var(--app-root-color-background);
  --app-actions-menu-item-foreground: var(--app-color-black);
  --app-actions-menu-item-border-color: var(--app-color-grey-600);
  --app-actions-menu-item-active-background: var(--app-color-primary-500);
  --app-actions-menu-item-active-foreground: var(--app-color-black);

  /* Autocomplete */
  --app-autocomplete-item-active-background: var(--app-color-primary-600);
  --app-autocomplete-item-active-foreground: var(--app-color-black);
  --app-autocomplete-border-color: var(--app-color-grey-700);
  --app-autocomplete-item-background: var(--app-color-white);
  --app-autocomplete-item-foreground: var(--app-color-black);

  /* Bottom menu */
  --app-bottom-menu-top-border-color: var(--app-color-grey-600);
  --app-bottom-menu-item-background: var(--app-color-grey-50);
  --app-bottom-menu-item-foreground: var(--app-color-black);
  --app-bottom-menu-item-indicator-color: var(--app-color-primary-500);
  --app-bottom-menu-item-indicator-hover-color: var(--app-color-primary-600);

  /* Button */
  --app-button-primary-background: var(--app-color-primary-500);
  --app-button-primary-foreground: var(--app-color-black);
  --app-button-primary-hover-background: var(--app-color-primary-600);
  --app-button-secondary-background: var(--app-color-secondary-500);
  --app-button-secondary-foreground: var(--app-color-white);
  --app-button-secondary-hover-background: var(--app-color-secondary-600);
  --app-button-tertiary-background: var(--app-color-tertiary-500);
  --app-button-tertiary-foreground: var(--app-color-white);
  --app-button-tertiary-hover-background: var(--app-color-tertiary-600);
  --app-button-outline-border-color: var(--app-color-primary-500);
  --app-button-outline-hover-background: var(--app-color-primary-500);
  --app-button-outline-hover-foreground: var(--app-color-black);
  --app-button-ghost-foreground: var(--app-color-black);
  --app-button-ghost-hover-background: rgba(0, 0, 0, 0.1);

  /* Card list */
  --app-card-list-background: var(--app-color-white);
  --app-card-list-foreground: var(--app-color-black);
  --app-card-list-completed: var(--app-color-secondary-600);
  --app-card-list-border-color: var(--app-color-grey-600);
  --app-card-list-foreground-muted: var(--app-color-grey-700);
  --app-card-list-item-hover-background: rgba(0, 0, 0, 0.07);
  --app-card-list-secondary-text: var(--app-color-grey-800);

  /* Checkbox */
  --app-checkbox-background: var(--app-color-white);
  --app-checkbox-border-color: var(--app-color-grey-600);
  --app-checkbox-hover-foreground: var(--app-color-grey-900);

  /* Form field */
  --app-form-field-error: var(--app-color-error);
  --app-form-field-hint: var(--app-color-grey-800);
  --app-form-field-label: var(--app-color-black);

  /* Modal */
  --app-modal-background: var(--app-root-color-background);

  /* Page header */
  --app-page-header-bottom-line: var(--app-color-grey-600);

  /* Quick number */
  --app-quick-number-background: var(--app-color-white);
  --app-quick-number-border-color: var(--app-color-grey-600);

  /* Form control */
  --app-form-control-border-color: var(--app-color-grey-600);
  --app-form-control-hover-border-color: var(--app-color-grey-700);
  --app-form-control-focus-border-color: var(--app-color-black);
  --app-form-control-background: var(--app-color-white);
  --app-form-control-foreground: var(--app-color-black);
  --app-form-control-placeholder: var(--app-color-grey-700);

  /* Select */
  --app-select-closed-caret: var(--app-color-black);
  --app-select-open-caret: var(--app-color-primary-500);

  /* Text input */
  /* ... */

  /* Textarea */
  /* ... */

  /* Toggle */
  --app-toggle-hover-foreground: var(--app-color-grey-900);
}
