/**
 * Theme variables
 *
 * --app-autocomplete-item-background
 * --app-autocomplete-item-foreground
 * --app-autocomplete-border-color
 */

.app-autocomplete {
  --_width: : 19.25rem;
  --_offset-y: 0;

  display: block;
  position: relative;
  width: var(--_width);
}

.app-autocomplete.-open {
  ._options {
    transform: scaleY(1);
  }
}

.app-autocomplete ._options {
  border: 2px solid var(--app-autocomplete-border-color);
  border-radius: 4px;
  position: absolute;
  background-color: var(--app-autocomplete-item-background);
  color: var(--app-autocomplete-item-foreground);
  transform: scaleY(0);
  transform-origin: top center;
  max-height: var(--app-height-autocomplete-options);
  overflow-y: auto;
  width: var(--_width);
  top: var(--_offset-y);
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 3;
  list-style: none;
  padding: 0;
  margin: 0;
}

.app-autocomplete ._option {
  display: block;
}

.app-autocomplete ._missing-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
