@switch (currentOptionsTemplate()) {

  @case (CURRENT_TEMPLATE.LOADING) {
    <ul class="_options" id="{{ inputId }}-menu" [attr.aria-labelledby]="inputId">
      <li role="status" class="_missing-option">
        {{ labels()?.loading ?? 'Loading...' }}
      </li>
    </ul>
  }

  @case (CURRENT_TEMPLATE.EMPTY) {
    <ul class="_options" id="{{ inputId }}-menu" [attr.aria-labelledby]="inputId">
      <li role="status" class="_missing-option">
        {{ labels()?.nothingFound ?? 'Nothing found' }}
      </li>
    </ul>
  }

  @case (CURRENT_TEMPLATE.OPTIONS) {
    <ul class="_options" id="{{ inputId }}-menu" [attr.aria-labelledby]="inputId">
      @for (option of options(); track option.value; let index = $index) {
        <li class="_option" role="menuitem">
          <app-autocomplete-option
            [isFocused]="focusedIndex() === index"
            [isDropdownOpen]="isOpen()"
            (click)="onConfirmOption($event, option)"
          >
            <ng-container
              [ngTemplateOutlet]="optionTemplate()"
              [ngTemplateOutletContext]="{ $implicit: option }"
            />
          </app-autocomplete-option>
        </li>
      }
    </ul>
  }
}
