@import 'scoped';

// Variables
// --app-autocomplete-item-active-background
// --app-autocomplete-item-active-foreground

.app-autocomplete-option {
  padding: 0.5rem;
  display: block;

  &:hover,
  &:focus,
  &.-focused {
    outline: 0;
    background-color: var(--app-autocomplete-item-active-background) !important;
    color: var(--app-autocomplete-item-active-foreground);
  }
}
