@import 'scoped';

.app-autocomplete {
  --app-autocomplete-width: 19.25rem;
  --app-autocomplete-offset-y: 0;

  display: block;
  position: relative;
  width: var(--app-autocomplete-width);

  &.-open {
    ._options {
      transform: scaleY(1);
    }
  }

  ._options {
    border: 2px solid $app-color-grey-700;
    border-radius: 4px;
    position: absolute;
    background-color: $app-color-white;
    transform: scaleY(0);
    transform-origin: top center;
    max-height: $app-height-autocomplete-options;
    overflow-y: auto;
    width: var(--app-autocomplete-width);
    top: var(--app-autocomplete-offset-y);
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 3;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ._option {
    display: block;
  }

  ._missing-option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}
