<button
  type="button"
  appIconButton
  [color]="color()"
  size="small"
  circled
  [disabled]="isDecrementDisabled()"
  class="-decrement"
  [title]="i18nDecrement()"
  [attr.aria-label]="i18nDecrement()"
  (click)="onDecrement()"
>
  <ng-icon [svg]="icon.matRemove" />
</button>

<span class="_value">{{ value() }}</span>

<button
  type="button"
  appIconButton
  [color]="color()"
  size="small"
  circled
  [disabled]="isIncrementDisabled()"
  [title]="i18nIncrement()"
  [attr.aria-label]="i18nIncrement()"
  class="-increment"
  (click)="onIncrement()"
>
  <ng-icon [svg]="icon.matAdd" />
</button>
