<div
  #modalRef
  class="_modal"
  role="dialog"
  aria-modal="true"
  aria-labelledby="modal-header"
  aria-describedby="modal-body"
>
  <!-- Header -->
  <header id="modal-header">
    @if (headerTemplate(); as headerTemplate) {
    <ng-container [ngTemplateOutlet]="headerTemplate" />
    } @else {
    <h2>&nbsp;</h2>
    }
  </header>

  <!-- Dismiss -->
  <div class="_dismiss">
    <button appIconButton="ghost" circled size="small" (click)="onDismiss()">
      <ng-icon [svg]="icon.matClear" />
    </button>
  </div>

  <!-- Body -->
  <div class="_body" id="modal-body">
    <ng-container #modalTarget></ng-container>
  </div>

  <!-- Footer -->
  <footer>
    @if (footerTemplate(); as footerTemplate) {
    <ng-container [ngTemplateOutlet]="footerTemplate" />
    } @else {
    <div class="default-footer">
      <!-- Cancel -->
      <button
        type="button"
        appButton="outline"
        size="small"
        withIcon="left"
        (click)="onDismiss()"
      >
        <ng-icon [svg]="icon.matClose" />
        {{ labels()?.cancel ?? "Cancel" }}
      </button>

      <!-- Confirm -->
      <button
        type="button"
        appButton="primary"
        withIcon="left"
        size="small"
        (click)="onConfirm()"
      >
        <ng-icon [svg]="icon.matCheck" />
        {{ labels()?.confirm ?? "Confirm" }}
      </button>
    </div>
    }
  </footer>
</div>

<div class="_backdrop" (click)="onDismiss()"></div>
