@import 'scoped';

.app-bottom-menu {
  display: flex;
  justify-content: stretch;
  align-items: center;
  border-top: 2px solid var(--app-color-grey-600);
  // box-shadow: 0 -10px 10px -10px rgba(0,0,0,0.2);
}
