<ng-container *appModalHeader>
  <h2>{{ modal.data.title }}</h2>
</ng-container>

<form
  *transloco="let t"
  [formGroup]="theForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
>
  <!-- Name -->
  <app-form-field [id]="FIELD.NAME.htmlId">

    <app-form-field-label isRequired>
      {{ t('common.form.field.name') }}
    </app-form-field-label>

    <app-text-input
      #nameRef="app-text-input"
      [id]="FIELD.NAME.htmlId"
      type="text"
      [formControlName]="FIELD.NAME.id"
      [withFullWidth]="true"
      [status]="fName | appFieldStatus"
      [placeholder]="t('common.form.field.name') + '...'"
      [withStatusIcon]="true"
      [withErrorId]="fName | appFieldErrorId:{
        'required': FIELD.NAME.errors.REQUIRED,
        'minlength,maxlength': FIELD.NAME.errors.LENGTH,
        'uniqueItemName': FIELD.NAME.errors.UNIQUE
      }"
    />

    <app-autocomplete
      [inputComponent]="nameRef"
      sourceType="async"
      [asyncOptions]="nameFieldOptions"
      [filteringDelay]="100"
      pickKey="label"
      [showEmptyOptions]="false"
      [minChars]="1"
      [labels]="{
        loading: t('components.autocomplete.loading'),
        nothingFound: t('components.autocomplete.nothingFound')
      }"
      width="16rem"
      offsetY="0.5rem"
      (confirmed)="onConfirmName($event)"
    >
      <ng-container *appAutocompleteOption="let option">
        {{ option.label }}
      </ng-container>
    </app-autocomplete>

    <!-- Error: required -->
    <app-form-field-error
      *ngIf="fName | appFieldError:'required'"
      [errorId]="FIELD.NAME.errors.REQUIRED"
    >
      {{ t('common.error.required') }}
    </app-form-field-error>

    <!-- Error: min/max length -->
    <app-form-field-error
      *ngIf="fName | appFieldError:'minlength,maxlength'"
      [errorId]="FIELD.NAME.errors.LENGTH"
    >
      {{ t('common.error.minMaxLength', { min: 2, max: 100 }) }}
    </app-form-field-error>

    <!-- Error: unique name -->
    <app-form-field-error
      *ngIf="fName | appFieldError:'uniqueItemName'"
      [errorId]="FIELD.NAME.errors.UNIQUE"
    >
      {{ t('common.error.uniqueName') }}
    </app-form-field-error>

  </app-form-field>

  <!-- Amount -->
  <app-form-field [id]="FIELD.AMOUNT.htmlId">

    <app-form-field-label isRequired>
      {{ t('common.form.field.amount') }}
    </app-form-field-label>

    <app-quick-number
      [id]="FIELD.AMOUNT.htmlId"
      [formControlName]="FIELD.AMOUNT.id"
      [min]="1"
      [max]="100"
      [color]="themeConfig().quickNumberColor"
      [withErrorId]="fAmount | appFieldErrorId:{
        'required': FIELD.AMOUNT.errors.REQUIRED,
        'min,max': FIELD.AMOUNT.errors.MIN_MAX,
      }"
    />

    <!-- Error: required -->
    <app-form-field-error
      *ngIf="fAmount | appFieldError:'required'"
      [errorId]="FIELD.AMOUNT.errors.REQUIRED"
    >
      {{ t('common.error.required') }}
    </app-form-field-error>

    <!-- Error: min/max -->
    <app-form-field-error
      *ngIf="fAmount | appFieldError:'min,max'"
      [errorId]="FIELD.AMOUNT.errors.MIN_MAX"
    >
      {{ t('common.error.minMax', { min:1, max: 100 }) }}
    </app-form-field-error>

  </app-form-field>

  <!-- Description -->
  <app-form-field [id]="FIELD.DESCRIPTION.htmlId">

    <app-form-field-label isOptional>
      {{ t('common.form.field.description') }}
    </app-form-field-label>

    <app-textarea
      [id]="FIELD.DESCRIPTION.htmlId"
      [rows]="4"
      [formControlName]="FIELD.DESCRIPTION.id"
      [status]="fDesc | appFieldStatus"
      [placeholder]="t('common.form.field.description') + '...'"
      [withCharsCounter]="true"
      [maxChars]="100"
      [withStatusIcon]="true"
      [withErrorId]="fDesc | appFieldErrorId:{
        'minlength,maxlength': FIELD.DESCRIPTION.errors.LENGTH
      }"
    />

    <!-- Error: min/max length -->
    <app-form-field-error
      *ngIf="fDesc | appFieldError:'minlength,maxlength'"
      [errorId]="FIELD.DESCRIPTION.errors.LENGTH"
    >
      {{ t('common.error.minMaxLength', { min: 2, max: 100 }) }}
    </app-form-field-error>

  </app-form-field>

  <!-- Category -->
  <app-form-field [id]="FIELD.CATEGORY.htmlId">

    <app-form-field-label isOptional>
      {{ t('common.form.field.category') }}
    </app-form-field-label>

    <app-text-input
      #categoryRef="app-text-input"
      [id]="FIELD.CATEGORY.htmlId"
      [formControlName]="FIELD.CATEGORY.id"
      type="text"
      [withFullWidth]="true"
      [id]="FIELD.CATEGORY.htmlId"
      [status]="fCategory | appFieldStatus"
      [placeholder]="t('common.form.field.category') + '...'"
      [withStatusIcon]="true"
      [withErrorId]="fCategory | appFieldErrorId:{
        'minlength,maxlength': FIELD.CATEGORY.errors.LENGTH
      }"
    />

    <app-autocomplete
      [inputComponent]="categoryRef"
      sourceType="async"
      [filteringDelay]="100"
      pickKey="label"
      [showEmptyOptions]="false"
      [asyncOptions]="categoryFieldOptions"
      [minChars]="1"
      [labels]="{
        loading: t('components.autocomplete.loading'),
        nothingFound: t('components.autocomplete.nothingFound')
      }"
      width="16rem"
      offsetY="0.5rem"
      (confirmed)="onConfirmCategory($event)"
    >
      <ng-container *appAutocompleteOption="let option">
        {{ option.label }}
      </ng-container>
    </app-autocomplete>

    <!-- Error: min/max length -->
    <app-form-field-error
      *ngIf="fCategory | appFieldError:'minlength,maxlength'"
      [errorId]="FIELD.CATEGORY.errors.LENGTH"
    >
      {{ t('common.error.minMaxLength', { min: 2, max: 100 }) }}
    </app-form-field-error>

  </app-form-field>

  <!-- Is done (edit-only) -->
  <app-form-field *ngIf="isEditing()" [id]="FIELD.IS_DONE.htmlId">

    <app-form-field-label isOptional>
      {{ t('common.form.field.completed') }}
    </app-form-field-label>

    <app-toggle
      [formControlName]="FIELD.IS_DONE.id"
      [id]="FIELD.IS_DONE.htmlId"
      color="primary"
    >
      {{ t('common.form.field.completed') }}?
    </app-toggle>

  </app-form-field>

  <!-- Add to inventory (create-only)-->
  <app-form-field *ngIf="!isEditing()" [id]="FIELD.ADD_TO_INVENTORY.htmlId">

    <app-form-field-label isOptional>
      {{ t('common.form.field.addToInventory') }}
    </app-form-field-label>

    <app-toggle
      [formControlName]="FIELD.ADD_TO_INVENTORY.id"
      [id]="FIELD.ADD_TO_INVENTORY.htmlId"
      color="primary"
      class="_add-to-inventory-toggle"
    >
      {{ t('common.form.field.addToInventory') }}?
    </app-toggle>

    <app-form-field-hint>
      {{ t('list.hint.addToInventory') }}
    </app-form-field-hint>

  </app-form-field>
</form>

<ng-container *appModalFooter>
  <div *transloco="let t" class="_footer">

    <!-- Cancel -->
    <!-- <button
      type="button"
      appButton="outline"
      size="small"
      withIcon="left"
      (click)="onCancel()"
    >
      <mat-icon>clear</mat-icon>
      {{ t('common.cancel') }}
    </button> -->

    <!-- Edit -->
    <ng-container *ngIf="isEditing(); else createRef">
      <button
        *ngIf="isEditing(); else createRef"
        type="button"
        appButton="primary"
        withIcon="left"
        size="small"
        [disabled]="isSaving()"
        (click)="onSubmit()"
      >
        <mat-icon [class.-rotating]="isSaving()">
          {{ isSaving() ? 'sync' : 'edit' }}
        </mat-icon>
        {{ t('common.edit') }}
      </button>
    </ng-container>

    <!-- Create -->
    <ng-template #createRef>

      <!-- Confirm and continue -->
      <button
        type="button"
        appButton="outline"
        withIcon="left"
        size="small"
        [disabled]="isSaving()"
        (click)="onCreateAndContinue()"
      >
        <mat-icon>playlist_add</mat-icon>
        {{ t('common.createAndContinue') }}
      </button>

      <!-- Create and close -->
      <button
        type="button"
        appButton="primary"
        withIcon="left"
        size="small"
        [disabled]="isSaving()"
        (click)="onSubmit()"
      >
        <mat-icon>add</mat-icon>
        {{ t('common.createAndClose') }}
      </button>

    </ng-template>
  </div>
</ng-container>
