<ng-container *appModalHeader>
  <h2>{{ modal.data.title }}</h2>
</ng-container>

<form
  *transloco="let t"
  [formGroup]="theForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
>
  <!-- Name -->
  <app-form-field [id]="FIELD.NAME.htmlId">
    <app-form-field-label isRequired>
      {{ t("common.form.field.name") }}
    </app-form-field-label>

    <app-text-input
      #nameRef="app-text-input"
      [id]="FIELD.NAME.htmlId"
      type="text"
      [formControlName]="FIELD.NAME.id"
      fullWidth
      [status]="fName | appFieldStatus"
      [placeholder]="t('common.form.field.name') + '...'"
      [i18nClearContent]="t('common.clearContent')"
      [withStatusIcon]="true"
      [withErrorId]="
        fName
          | appFieldErrorId
            : {
                required: FIELD.NAME.errors.REQUIRED,
                'minlength,maxlength': FIELD.NAME.errors.LENGTH,
                uniqueItemName: FIELD.NAME.errors.UNIQUE
              }
      "
    />

    <app-autocomplete
      [inputComponent]="nameRef"
      sourceType="async"
      [asyncOptions]="nameFieldOptions"
      [filteringDelay]="100"
      pickKey="label"
      trackKey="value"
      [showEmptyOptions]="false"
      minChars="1"
      searchOnEmpty
      [i18nLoading]="t('components.autocomplete.loading')"
      [i18nNothingFound]="t('components.autocomplete.nothingFound')"
      width="16rem"
      offsetY="0.5rem"
      (confirmed)="onConfirmName($event)"
    >
      <ng-container *appAutocompleteOption="let option">
        {{ option.label }}
      </ng-container>
    </app-autocomplete>

    <!-- Error: required -->
    @if (fName | appFieldError:'required') {
    <app-form-field-error [errorId]="FIELD.NAME.errors.REQUIRED">
      {{ t("common.error.required") }}
    </app-form-field-error>
    }

    <!-- Error: min/max length -->
    @if (fName | appFieldError:'minlength,maxlength') {
    <app-form-field-error [errorId]="FIELD.NAME.errors.LENGTH">
      {{ t("common.error.minMaxLength", { min: 1, max: 100 }) }}
    </app-form-field-error>
    }

    <!-- Error: unique name -->
    @if (fName | appFieldError:'uniqueItemName') {
    <app-form-field-error [errorId]="FIELD.NAME.errors.UNIQUE">
      {{ t("common.error.uniqueName") }}
    </app-form-field-error>
    }
  </app-form-field>

  <!-- Amount -->
  <app-form-field [id]="FIELD.AMOUNT.htmlId">
    <app-form-field-label isRequired>
      {{ t("common.form.field.amount") }}
    </app-form-field-label>

    <app-quick-number
      [id]="FIELD.AMOUNT.htmlId"
      [formControlName]="FIELD.AMOUNT.id"
      [min]="1"
      [max]="100"
      [color]="themeConfig().quickNumberColor"
      [i18nIncrement]="t('common.menu.increment')"
      [i18nDecrement]="t('common.menu.decrement')"
      fullWidth
      [withErrorId]="fAmount | appFieldErrorId:{
        'required': FIELD.AMOUNT.errors.REQUIRED,
        'min,max': FIELD.AMOUNT.errors.MIN_MAX,
      }"
    />

    <!-- Error: required -->
    @if (fAmount | appFieldError:'required') {
    <app-form-field-error [errorId]="FIELD.AMOUNT.errors.REQUIRED">
      {{ t("common.error.required") }}
    </app-form-field-error>
    }

    <!-- Error: min/max -->
    @if (fAmount | appFieldError:'min,max') {
    <app-form-field-error [errorId]="FIELD.AMOUNT.errors.MIN_MAX">
      {{ t("common.error.minMax", { min: 1, max: 100 }) }}
    </app-form-field-error>
    }
  </app-form-field>

  <!-- Description -->
  <app-form-field [id]="FIELD.DESCRIPTION.htmlId">
    <app-form-field-label isOptional>
      {{ t("common.form.field.description") }}
    </app-form-field-label>

    <app-textarea
      [id]="FIELD.DESCRIPTION.htmlId"
      [rows]="4"
      [formControlName]="FIELD.DESCRIPTION.id"
      [status]="fDesc | appFieldStatus"
      [placeholder]="t('common.form.field.description') + '...'"
      [i18nClearContent]="t('common.clearContent')"
      [withCharsCounter]="true"
      [maxChars]="100"
      [withStatusIcon]="true"
      [withErrorId]="
        fDesc
          | appFieldErrorId
            : {
                'minlength,maxlength': FIELD.DESCRIPTION.errors.LENGTH
              }
      "
    />

    <!-- Error: min/max length -->
    @if (fDesc | appFieldError:'minlength,maxlength') {
    <app-form-field-error [errorId]="FIELD.DESCRIPTION.errors.LENGTH">
      {{ t("common.error.minMaxLength", { min: 2, max: 100 }) }}
    </app-form-field-error>
    }
  </app-form-field>

  <!-- Category -->
  <app-form-field [id]="FIELD.CATEGORY.htmlId">
    <app-form-field-label isOptional>
      {{ t("common.form.field.category") }}
    </app-form-field-label>

    <app-text-input
      #categoryRef="app-text-input"
      [id]="FIELD.CATEGORY.htmlId"
      [formControlName]="FIELD.CATEGORY.id"
      type="text"
      fullWidth
      [id]="FIELD.CATEGORY.htmlId"
      [status]="fCategory | appFieldStatus"
      [placeholder]="t('common.form.field.category') + '...'"
      [withStatusIcon]="true"
      [withErrorId]="
        fCategory
          | appFieldErrorId
            : {
                'minlength,maxlength': FIELD.CATEGORY.errors.LENGTH
              }
      "
    />

    <app-autocomplete
      [inputComponent]="categoryRef"
      sourceType="async"
      [filteringDelay]="100"
      pickKey="label"
      [showEmptyOptions]="false"
      [asyncOptions]="categoryFieldOptions"
      minChars="0"
      searchOnEmpty
      [i18nLoading]="t('components.autocomplete.loading')"
      [i18nNothingFound]="t('components.autocomplete.nothingFound')"
      width="16rem"
      offsetY="0.5rem"
      (confirmed)="onConfirmCategory($event)"
    >
      <ng-container *appAutocompleteOption="let option">
        {{ option.label }}
      </ng-container>
    </app-autocomplete>

    <!-- Error: min/max length -->
    @if (fCategory | appFieldError:'minlength,maxlength') {
    <app-form-field-error [errorId]="FIELD.CATEGORY.errors.LENGTH">
      {{ t("common.error.minMaxLength", { min: 2, max: 100 }) }}
    </app-form-field-error>
    }
  </app-form-field>

  <!-- Is done (edit-only) -->
  @if (isEditing()) {
  <app-form-field [id]="FIELD.IS_DONE.htmlId">
    <app-form-field-label isOptional>
      {{ t("common.form.field.completed") }}
    </app-form-field-label>

    <app-toggle
      [formControlName]="FIELD.IS_DONE.id"
      [id]="FIELD.IS_DONE.htmlId"
      color="primary"
    >
      {{ t("common.form.field.completed") }}?
    </app-toggle>
  </app-form-field>
  }

  <!-- Add to inventory (create-only)-->
  @if (!isEditing()) {
  <app-form-field [id]="FIELD.ADD_TO_INVENTORY.htmlId">
    <app-form-field-label isOptional>
      {{ t("common.form.field.addToInventory") }}
    </app-form-field-label>

    <app-checkbox
      [formControlName]="FIELD.ADD_TO_INVENTORY.id"
      [id]="FIELD.ADD_TO_INVENTORY.htmlId"
      color="primary"
      class="_add-to-inventory-toggle"
    >
      {{ t("common.form.field.addToInventory") }}?
    </app-checkbox>

    <app-form-field-hint>
      {{ t("list.hint.addToInventory") }}
    </app-form-field-hint>
  </app-form-field>
  }
</form>

<ng-container *appModalFooter>
  <div *transloco="let t" class="_footer">
    @if (isMobile()) {
    <!-- Cancel -->
    <button
      type="button"
      appButton="outline"
      size="small"
      fullWidth
      withIcon="left"
      (click)="onCancel()"
    >
      <ng-icon [svg]="icon.matClear" />
      {{ t("common.close") }}
    </button>
    } @if (isEditing()) {
    <!-- Edit -->
    <button
      type="button"
      appButton="primary"
      withIcon="left"
      size="small"
      [fullWidth]="isMobile()"
      [disabled]="isSaving()"
      (click)="onSubmit()"
    >
      <ng-icon
        [class.-rotating]="isSaving()"
        [svg]="isSaving() ? icon.matSync : icon.matEdit"
      />
      {{ t("common.edit") }}
    </button>
    } @else {

    <!-- Confirm and continue -->
    <button
      type="button"
      appButton="outline"
      withIcon="left"
      size="small"
      [fullWidth]="isMobile()"
      [disabled]="isSaving()"
      (click)="onCreateAndContinue()"
    >
      <ng-icon [svg]="icon.matPlaylistAdd" />
      {{ t("common.createAndContinue") }}
    </button>

    <!-- Confirm and close -->
    <button
      type="button"
      appButton="primary"
      withIcon="left"
      size="small"
      [fullWidth]="isMobile()"
      [disabled]="isSaving()"
      (click)="onSubmit()"
    >
      <ng-icon [svg]="icon.matAdd" />
      {{ t("common.createAndClose") }}
    </button>
    }
  </div>
</ng-container>
