<header>
  <app-page-header>
    <!-- Title with optional counters -->
    <ng-container
      [ngTemplateOutlet]="
        !headerCounters()
          ? headerWithoutCountersRef
          : headerCounters()?.completed === null
          ? headerWithCounterRef
          : headerWithCountersRef
      "
    />

    <div slot="right" class="_header-right">
      <!-- Search toggle -->
      @if (withSearch()) {
      <button
        type="button"
        appButton="ghost"
        isCircle
        withIconOnly
        (click)="onToggleSearchBar()"
      >
        <ng-icon [svg]="matSearch" />
      </button>
      }

      <!-- Actions -->
      @if (!!headerActions().length) {
      <app-actions-menu
        [id]="title()"
        [actions]="headerActions()"
        position="left"
        (actionConfirmed)="onHeaderAction($event)"
      >
        <button
          *appActionsMenuButton
          type="button"
          appButton="outline"
          isCircle
          withIconOnly
        >
          <ng-icon [svg]="matMoreHoriz" />
        </button>
      </app-actions-menu>
      }
    </div>

    @if (withVisibleSearch()) {
    <app-text-input
      #inputRef="app-text-input"
      slot="sub-header"
      class="_search-bar"
      type="search"
      id="search-bar"
      [value]="searchQuery()"
      [placeholder]="('common.searchItems' | transloco) + '...'"
      [clearable]="true"
      autocomplete="on"
      [withFullWidth]="true"
      (inputChanged)="searched.emit($event)"
      (cleared)="searchCleared.emit()"
    />
    }
  </app-page-header>
</header>

<main>
  <ng-content></ng-content>
</main>

<footer>
  <app-bottom-menu
    [items]="footerActions()"
    [selectedItem]="footerCurrentAction()"
    (selected)="onBottomMenuChange($event)"
  />
</footer>

<!-- Template: header without counters -->
<ng-template #headerWithoutCountersRef>
  <h1 class="_title">{{ title() }}</h1>
</ng-template>

<!-- Template: header with simple counter -->
<ng-template #headerWithCounterRef>
  <h1 class="_title -with-counters">
    {{ title() }}
    <div class="_counters">({{ headerCounters()!.total }})</div>
  </h1>
</ng-template>

<!-- Template: header with compound counters -->
<ng-template #headerWithCountersRef>
  <h1 class="_title -with-counters">
    {{ title() }}
    <div class="_counters">
      ({{ headerCounters()!.completed }} /
      <strong>{{ headerCounters()!.total }}</strong
      >)
    </div>
  </h1>
</ng-template>
