<header>
  <app-page-header>

    <!-- Title with optional counters -->
    <ng-container [ngTemplateOutlet]="!headerCounters
      ? headerWithoutCountersRef
      : headerCounters.completed === null
        ? headerWithCounterRef
        : headerWithCountersRef"
    />

    <!-- Actions -->
    <ng-container slot="right" *ngIf="!!headerActions.length">
      <app-actions-menu
        [id]="title"
        [actions]="headerActions"
        position="left"
        (actionConfirmed)="onHeaderAction($event)"
      >
        <button
          *appActionsMenuButton
          type="button"
          appButton="outline"
          type="button"
          isCircle
          withIconOnly
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
      </app-actions-menu>
    </ng-container>

  </app-page-header>
</header>

<main>
  <ng-content></ng-content>
</main>

<footer>
  <app-bottom-menu
    [items]="footerActions"
    [selectedItem]="footerCurrentAction"
    (selected)="onBottomMenuChange($event)"
  ></app-bottom-menu>
</footer>

<!-- Template: header without counters -->
<ng-template #headerWithoutCountersRef>
  <h1 class="_title">{{ title }}</h1>
</ng-template>

<!-- Template: header with simple counter -->
<ng-template #headerWithCounterRef>
  <h1 class="_title -with-counters">
    {{ title }}
    <div class="_counters">
      ({{ headerCounters!.total }})
    </div>
  </h1>
</ng-template>

<!-- Template: header with compound counters -->
<ng-template #headerWithCountersRef>
  <h1 class="_title -with-counters">
    {{ title }}
    <div class="_counters">
      ({{ headerCounters!.completed }} / <strong>{{ headerCounters!.total }}</strong>)
    </div>
  </h1>
</ng-template>
