@import 'scoped';

.app-layout-stacked {

  ._title {
    &.-with-counters {
      display: flex;
      align-items: center;
    }
  }

  ._counters {
    margin-left: 0.5rem;
    font-size: 1rem;
    font-family: $app-typography-body-font;
  }

  ._header-right {
    display: flex;
    align-items: center;
    gap: 0.33rem;
  }

  ._search-bar {
    margin-top: 1rem;
    // margin-bottom: 0.25rem;
  }

  main {
    padding-bottom: 80px; // TODO
  }

  footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    max-width: 800px; // TODO
    margin: 0 auto;
  }
}
