<h2>In a form</h2>

<pre>{{ { value: myForm.value, errors: fMyTextarea.errors } | json }}</pre>

<form [formGroup]="myForm">
  <app-form-field>
    <app-form-field-label isRequired> My textarea </app-form-field-label>

    <app-textarea
      formControlName="myTextarea"
      [status]="fMyTextarea | appFieldStatus"
      placeholder="Enter some text here..."
    />

    @if (fMyTextarea | appFieldError:'required') {
    <app-form-field-error> Required field </app-form-field-error>
    }
  </app-form-field>
</form>

<h2>Outside a form</h2>
<app-textarea
  [value]=""
  (changed)="consoleLog('changed', $event)"
  (inputChanged)="consoleLog('inputChanged', $event)"
  placeholder="Enter some text here..."
  [attrs]="{
    'autocomplete': true,
    'aria-controls': 'the-autocomplete',
    'required': true,
    'readonly': false,
  }"
/>

<h2>Clearable</h2>
<app-textarea
  value="This is clearable"
  clearable
  (changed)="consoleLog('changed', $event)"
/>

<h2>With multiple icons</h2>
<app-textarea
  value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet tempus ipsum. Integer etipsum in lectus feugiat feugiat at eget quam. Vestibulum euismod euismod tortor et malesuada. Nunc egestas, quam ac varius pretium, orci lacus pharetra ligula, eget mattis mi quam quis tellus."
  clearable
  withStatusIcon
  status="success"
  (changed)="consoleLog('changed', $event)"
/>

<h2>Disabled</h2>
<app-textarea
  value="This is disabled"
  isDisabled
  (changed)="consoleLog('changed', $event)"
/>

<h2>Custom widths</h2>

<h3>Full width (default)</h3>
<p>
  <app-textarea
    value="Full width"
    placeholder="Full width"
    fullWidth
    (changed)="consoleLog('changed', $event)"
  />
</p>

<h2>With characters counter</h2>
<app-form-field>
  <app-form-field-label> With characters counter </app-form-field-label>
  <app-textarea
    [withCharsCounter]="true"
    [maxChars]="123"
    (changed)="consoleLog('changed', $event)"
  />
  <app-form-field-hint>
    This textarea has a characters counter
  </app-form-field-hint>
</app-form-field>
