<ng-container *appModalHeader>
  <h2>{{ modal.data.title }}</h2>
</ng-container>

<ul class="_categories">
  @for (category of  modal.data.categories; track category) {
    <li>
      <button type="button" appButton="primary" (click)="onSelectCategory(category)">
        {{ category }}
      </button>
    </li>
  }
</ul>

<div *appModalFooter class="_footer">
  <button
    type="button"
    appButton="outline"
    size="small"
    withIcon="left"
    (click)="onDismiss()"
  >
    <mat-icon>close</mat-icon>
    {{ 'components.modal.cancel' | transloco }}
  </button>
</div>
