@import 'scoped';

form {
  display: flex;
  flex-direction: column;
  gap: 1.6180339887rem;
}

h2 {
  margin-bottom: 1rem!important;
}

._footer {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.-rotating {
  animation: app-rotation 1s infinite linear;
}

@keyframes app-rotation {
  from { transform: rotate(0deg) }
  to { transform: rotate(359deg) }
}
