<div class="_header">
  <div class="_left">
    <div class="_title">
      <h2>{{ title() }}</h2>
      @if (withCounters() && !!counters()) {
      <span class="_counters">
        @if (isSelectable()) { ({{ counters()!.done }} /
        <strong>{{ counters()!.total }}</strong
        >) } @else { (<strong>{{ counters()!.total }}</strong
        >) }
      </span>
      }
    </div>

    <div class="_pin">
      <button
        appButton="ghost"
        withIcon="left"
        size="extra-small"
        (click)="onTogglePin()"
      >
        <ng-icon [svg]="isPinned() ? matClear : matPushPin" size="1.2rem" />
        {{ isPinned() ? pinnedLabel() ?? "Unpin" : unpinnedLabel() ?? "Pin" }}
      </button>
    </div>
  </div>

  <div class="_right">
    <app-actions-menu
      [id]="title + '-menu'"
      [actions]="listActions()"
      position="left"
      offsetY="-2rem"
      (actionConfirmed)="onListAction($event)"
    >
      <ng-container *appActionsMenuButton>
        <button appIconButton="ghost" size="small" circled>
          <ng-icon [svg]="matMoreHoriz" />
          <!-- TODO: Add translated aria-label -->
        </button>
      </ng-container>
    </app-actions-menu>
  </div>

  @if (isCompleted()) {
  <span class="_completed-mark">
    <ng-icon [svg]="matCheck" />
  </span>
  }
</div>

<ul class="_items">
  @for (item of items(); track item.id) {
  <li class="_item" [class.-last]="$last">
    <div class="_item-header">
      <div class="_left" (click)="onToggleItem(item.id)">
        <div class="_item-info">
          @if (isSelectable()) {
          <app-checkbox
            [id]="item.id"
            [isInteractable]="false"
            [isChecked]="item.isDone"
            [color]="checkboxColor()"
          >
            <span [class.-crossed]="item.isDone">
              {{ item.amount }}x {{ item.name }}
            </span>
          </app-checkbox>
          } @else {
          {{ item.name }}
          }
        </div>
      </div>

      <div class="_right">
        <!-- Show/hide description -->
        @if (!!item.description) {
        <div class="_toggle-description">
          <button
            appIconButton="ghost"
            circled
            size="small"
            (click)="onToggleDescription(item.id)"
          >
            <ng-icon
              [svg]="
                !!itemsDescriptionMap.get(item.id)
                  ? matExpandLess
                  : matExpandMore
              "
            />
            <!-- TODO: Add translated aria-label -->
          </button>
        </div>
        }

        <!-- Actions -->
        <app-actions-menu
          [id]="item.id + '-menu'"
          [actions]="itemActionsMap.get(item.id) ?? []"
          position="left"
          (actionConfirmed)="onItemAction(item.id, $event)"
        >
          <ng-container *appActionsMenuButton="let open">
            <button
              appIconButton
              [color]="open ? 'primary' : 'ghost'"
              circled
              size="small"
            >
              <ng-icon [svg]="open ? matClose : matMoreHoriz" />
              <!-- TODO: Add translated aria-label -->
            </button>
          </ng-container>
        </app-actions-menu>
      </div>
    </div>

    @if (!!itemsDescriptionMap.get(item.id)) {
    <div class="_item-description">
      {{ item.description }}
    </div>
    }
  </li>
  }
</ul>
