<button
  type="button"
  appIconButton
  [color]="color()"
  size="small"
  circled
  [disabled]="isDecrementDisabled()"
  class="-decrement"
  title="Decrement value"
  [attr.aria-label]="decrementLabel()"
  (click)="onDecrement()"
>
  <ng-icon [svg]="matRemove" />
</button>

<span class="_value">{{ value() }}</span>

<button
  type="button"
  appIconButton
  [color]="color()"
  size="small"
  circled
  [disabled]="isIncrementDisabled()"
  [attr.aria-label]="incrementLabel()"
  class="-increment"
  title="Increment value"
  (click)="onIncrement()"
>
  <ng-icon [svg]="matAdd" />
</button>
