<button
  type="button"
  appButton
  [color]="color()"
  size="small"
  withIconOnly
  isCircle
  [disabled]="isDecrementDisabled()"
  class="-decrement"
  title="Decrement value"
  (click)="onDecrement()"
>
  <ng-icon [svg]="matRemove" />
</button>

<span class="_value">{{ value() }}</span>

<button
  type="button"
  appButton
  [color]="color()"
  size="small"
  withIconOnly
  isCircle
  [disabled]="isIncrementDisabled()"
  class="-increment"
  title="Increment value"
  (click)="onIncrement()"
>
  <ng-icon [svg]="matAdd" />
</button>
