<button
  type="button"
  appButton
  [color]="color"
  size="small"
  withIconOnly
  isCircle
  [disabled]="isDecrementDisabled()"
  class="-decrement"
  title="Decrement value"
  (click)="onDecrement()"
>
  <mat-icon>remove</mat-icon>
</button>

<span class="_value">{{ value() }}</span>

<button
  type="button"
  appButton
  [color]="color"
  size="small"
  withIconOnly
  isCircle
  [disabled]="isIncrementDisabled()"
  class="-increment"
  title="Increment value"
  (click)="onIncrement()"
>
  <mat-icon>add</mat-icon>
</button>
