@import 'scoped';

.app-button {
  --app-button-top: auto;
  --app-button-right: 1rem;
  --app-button-bottom: 1rem;
  --app-button-left: auto;

  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1;
  font-family: inherit;
  border: 2px solid transparent;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.15s background-color ease-out;

  // Color --------------------------------------------------------------------
  &.-color {

    &-primary {
      background-color: $app-color-primary-500;
      color: $app-color-black;

      &:hover {
        background-color: $app-color-primary-600;
      }
    }

    &-secondary {
      background-color: $app-color-secondary-500;
      color: $app-color-white;

      &:hover {
        background-color: $app-color-secondary-600;
      }
    }

    &-tertiary {
      background-color: $app-color-tertiary-500;
      color: $app-color-white;

      &:hover {
        background-color: $app-color-tertiary-600;
      }
    }

    &-outline {
      background-color: transparent;
      border-color: $app-color-primary-500;

      &:hover {
        background-color: $app-color-primary-500;
      }

      i {
        color: inherit;
      }
    }

    &-ghost {
      background-color: transparent;
      color: $app-color-black;
      border-color: transparent;

      &:hover {
        background-color: rgba(0,0,0,0.1);
      }
    }
  }

  // Size ---------------------------------------------------------------------
  &.-size {

    &-small {
      padding: 0.5rem 0.75rem;
      font-size: 0.85rem;
      line-height: 0.85rem;

      &.-with-icon-only {
        @include app-squared(2rem, 1.4rem);

        mat-icon {
          width: 1.4rem;
          height: 1.4rem;
        }
      }
    }

    &-medium {
      padding: 0.75rem 1rem;
      font-size: 1rem;
      line-height: 1rem;

      &.-with-icon-only {
        @include app-squared(3rem, 1.85rem);

        mat-icon {
          width: 1.85rem;
          height: 1.85rem;
        }
      }
    }

    &-large {
      padding: 1.25rem 1.75rem;
      font-size: 1.1rem;
      line-height: 1.1rem;
      min-width: 130px;

      &.-with-icon-only {
        @include app-squared(4rem, 2.5rem);

        mat-icon {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }

  // Circle -------------------------------------------------------------------
  &.-circle {
    border-radius: 200px;
  }

  // With icon ----------------------------------------------------------------
  &.-with-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;

    &.-left {
      mat-icon {
        margin-right: 0.33rem;
      }
    }

    &.-right {
      mat-icon {
        margin-left: 0.33rem;
      }
    }
  }

  // Icon only ----------------------------------------------------------------
  &.-with-icon-only {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;

    mat-icon {
      position: absolute;
      font-size: inherit;
    }
  }

  // Floating -----------------------------------------------------------------
  &.-floating {

    &-container {
      position: absolute;
      top: var(--app-button-top);
      right: var(--app-button-right);
      bottom: var(--app-button-bottom);
      left: var(--app-button-left);
      z-index: 2;
    }

    &-fixed {
      position: fixed;
      top: var(--app-button-top);
      right: var(--app-button-right);
      bottom: var(--app-button-bottom);
      left: var(--app-button-left);
      z-index: 3;
    }
  }

  // Disabled -----------------------------------------------------------------
  &[disabled], &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
