:host {
  --swatch-size: 60px;

  display: flex;
  flex-direction: column;
}

.swatches-collection {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #aaa;

  &.-last {
    border-bottom: none;
  }
}

.swatches {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.swatch {
  width: var(--swatch-size);
  min-width: var(--swatch-size);
  max-width: var(--swatch-size);
  height: var(--swatch-size);
  min-height: var(--swatch-size);
  max-height: var(--swatch-size);
  border: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}
