<header>
  @if (isMobile()) {
    <button
      type="button"
      class="_menu-button-header"
      appButton="ghost"
      isCircle
      withIconOnly
      (click)="openMenu()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  }
  <ng-content select="[slot='header']" />
</header>

<div class="content">

  <main>
    <ng-content />
    <ng-content slot="main" />
  </main>

  <aside>
    <div class="_menu-button-nav">
      @if (isMobile() && isOpen()) {
        <button
          type="button"
          appButton="outline"
          size="small"
          withIcon="left"
          (click)="closeMenu()"
        >
          <mat-icon>close</mat-icon>
          Close
        </button>
      }
    </div>
    <ng-content select="[slot='aside']" />
  </aside>

  <!-- Backdrop -->
  @if (isMobile() && isOpen()) {
    <div class="_backdrop" (click)="closeMenu()"></div>
  }
</div>
