@import 'scoped';

// Variables
// --app-form-control-border-color
// --app-form-control-hover-border-color
// --app-form-control-focus-border-color
// --app-form-control-background
// --app-form-control-foreground
// --app-form-control-placeholder

.app-textarea {

  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: fit-content;
  max-width: 100% !important;

  > textarea {
    min-width: 0!important;
  }

  > textarea::placeholder {
    color: var(--app-form-control-placeholder);
  }

  &.-full-width {
    width: 100% !important;

    ._textarea {
      min-width: auto;
      width: 100% !important;
    }
  }

  &.-clearable {
    ._textarea {
      padding-right: 0.75rem;
    }

    ._icons {
      right: 0.75rem;
    }
  }

  ._textarea-container {
    width: 100%;
    height: 100%;
  }

  ._textarea {
    border: 2px solid var(--app-form-control-border-color);
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1rem;
    min-width: 19.25rem;
    padding: 0.5rem;
    background-color: var(--app-form-control-background);
    color: var(--app-form-control-foreground);
    transition: 0.15s border-color ease-in-out;

    &:hover {
      border-color: var(--app-form-control-hover-border-color);
    }

    &:focus {
      outline: 0;
      border-color: var(--app-form-control-focus-border-color);
      box-shadow: 0 2px 5px #0e141a1a;
    }
  }

  ._icons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0.66rem;
    right: 0.66rem;
  }

  ._char-counter {
    font-family: monospace;
    font-size: 0.9em;

    ._counter {
      font-weight: bold;

      &.-error {
        color: $app-color-error;
      }
    }

    ._separator {
      margin: 0 0.2rem;
    }
  }

  // Status -------------------------------------------------------------------
  &.-status {
    &-success {
      ._textarea { border-color: $app-color-success }
      ._status-icon { color: $app-color-success }
    }

    &-error {
      ._textarea { border-color: $app-color-error }
      ._status-icon { color: $app-color-error }
    }
  }

  // Disabled -----------------------------------------------------------------
  &.-disabled ._textarea, & textarea[readonly], & textarea[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  // Hide native icons
  & textarea::-ms-clear,
  & textarea::-ms-reveal {
    display: none;
  }

  & textarea::-webkit-search-decoration,
  & textarea::-webkit-search-cancel-button,
  & textarea::-webkit-search-results-button,
  & textarea::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }
}
