$app-spacing-configuration: (
  prefix: '',
  rules: (
    p: padding,
    m: margin,
  ),
  spacer: 0.5rem,
  spacer-multipliers: (
    1: 1,
    2: 2,
    3: 3,
    4: 5,
    5: 8,
    6: 13,
    7: 21,
    8: 34,
  ),
);
