// https://codepen.io/alaindet/pen/MWmxrJb
@mixin app-spacing($config) {

  $prefix: app-map-get($config, 'prefix');
  $rules: app-map-get($config, 'rules');
  $spacer: app-map-get($config, 'spacer');
  $spacer-multipliers: app-map-get($config, 'spacer-multipliers');

  @each $key, $rule in $rules {
    @each $index, $multiplier in $spacer-multipliers {
      $value: $multiplier * $spacer;

      // 4 sides
      .#{$prefix}#{$key}#{$index} {
        #{$rule}: $value;
      }

      // 2 sides
      .#{$prefix}#{$key}y#{$index} {
        #{$rule}-top: $value;
        #{$rule}-bottom: $value;
      }

      .#{$prefix}#{$key}x#{$index} {
        #{$rule}-left: $value;
        #{$rule}-right: $value;
      }

      // 1 side
      .#{$prefix}#{$key}t#{$index} {
        #{$rule}-top: $value;
      }

      .#{$prefix}#{$key}r#{$index} {
        #{$rule}-right: $value;
      }

      .#{$prefix}#{$key}b#{$index} {
        #{$rule}-bottom: $value;
      }

      .#{$prefix}#{$key}l#{$index} {
        #{$rule}-left: $value;
      }
    }
  }
}
