<h2>In a form</h2>
<form [formGroup]="myForm">
  <pre>{{ { value: myForm.value, errors: myForm.errors } | json }}</pre>

  <label>
    <app-checkbox formControlName="myCheckbox1" [id]="'myCheckbox1'">
      My checkbox 1
    </app-checkbox>
  </label>

  &nbsp;

  <label>
    <app-checkbox
      formControlName="myCheckbox2"
      [id]="'myCheckbox2'"
      ariaLabelledBy="the-checkbox2-label"
    >
      My checkbox 2
    </app-checkbox>
  </label>

  <br>
  <span id="the-checkbox2-label">I am the label of checkbox 2</span>
</form>

<h2>Color</h2>

<div class="demo-cases">
  <app-checkbox color="primary" [checked]="true">
    Primary checked
  </app-checkbox>

  <app-checkbox color="secondary" [checked]="true">
    Secondary checked
  </app-checkbox>

  <app-checkbox color="tertiary" [checked]="true">
    Tertiary checked
  </app-checkbox>

  <app-checkbox color="black" [checked]="true">
    Black checked
  </app-checkbox>

  <app-checkbox [checked]="false">
    Unchecked
  </app-checkbox>
</div>

<h2>Custom size</h2>

<div class="demo-cases">
  <app-checkbox color="primary" [checked]="true" size="16px">
    16px
  </app-checkbox>
  <app-checkbox color="primary" [checked]="true" size="20px">
    20px (default)
  </app-checkbox>
  <app-checkbox color="primary" [checked]="true" size="32px">
    32px
  </app-checkbox>
  <app-checkbox color="primary" [checked]="true" size="48px">
    48px
  </app-checkbox>
</div>

<h2>Disabled</h2>
<div class="demo-cases">
  <app-checkbox [isDisabled]="true" [checked]="false">
    Disabled and unchecked
  </app-checkbox>
  <app-checkbox [isDisabled]="true" [checked]="true">
    Disabled and checked
  </app-checkbox>
</div>

<h2>Non-interactive</h2>
<div class="demo-cases">
  <app-checkbox
    #theCheckbox="app-checkbox"
    [isInteractable]="false"
    (changed)="consoleLog('non interactive changed', $event)"
  >
    Non-interactive (controlled externally)
  </app-checkbox>

  <button appButton="outline" size="small" (click)="theCheckbox.toggle()">
    Toggle
  </button>
</div>
