<ng-container *transloco="let t">
  <div class="fab-large-container">

    <!-- Filters -->
    <ul *ngIf="filters()" class="_filters">
      <li *ngFor="let filter of filters()">
        <button
          type="button"
          appButton
          [color]="themeConfig().filterColor"
          withIcon="left"
          size="extra-small"
          (click)="onRemoveFilter(filter)"
        >
          <mat-icon>clear</mat-icon>
          {{ filter.label ? t(filter.label) : filter.value }}
        </button>
      </li>
    </ul>

    <!-- Items -->
    <ng-container [ngTemplateOutlet]="
      itemGroups().length ? itemsRef
        : loaded() ? noItemsRef
        : inErrorStatus() ? errorStateRef
        : null
    " />

    <!-- Add new item -->
    <button
      appButton
      [color]="themeConfig().fabColor"
      isCircle
      withIconOnly
      size="large"
      floating="fixed"
      floatingBottom="4.7rem"
      floatingRight="1.1rem"
      (click)="onShowCreateItemModal()"
    >
      <mat-icon>add</mat-icon>
    </button>

  </div>

  <!-- Template: Show items -->
  <ng-template #itemsRef>
    <ul class="_cards">
      <li *ngFor="let group of itemGroups(); trackBy: trackByCategory">
        <app-card-list
          [title]="group.category === DEFAULT_CATEGORY
            ? t('common.uncategorized')
            : group.category"
          [withMutedTitle]="group.category === DEFAULT_CATEGORY"
          [items]="group.items"
          [listActions]="categoryContextualMenu"
          [itemActionsFn]="getItemContextualMenu"
          [isPinned]="pinnedCategory() === group.category"
          [withCounters]="true"
          [checkboxColor]="themeConfig().checkboxColor"
          [labels]="{
            pinned: t('common.unpin'),
            unpinned: t('common.pin')
          }"
          (listActionClicked)="onCategoryAction(group.category, $event)"
          (itemActionClicked)="onItemAction($event)"
          (itemToggled)="onItemToggle($event)"
          (pinned)="onPinCategory(group.category, $event)"
        />
      </li>
    </ul>
  </ng-template>

  <!-- Template: No items -->
  <ng-template #noItemsRef>
    <p>{{ t('list.noItems') }}</p>
  </ng-template>

  <!-- Template: Error status -->
  <ng-template #errorStateRef>
    <p>{{ t('list.errorStatus') }}</p>
  </ng-template>
</ng-container>
