<header>
  <app-page-header>
    
    <h1>List</h1>

    <ng-container slot="right">
      <app-actions-menu
        id="list-contextual-menu"
        [actions]="contextualMenu"
        position="left"
        (actionConfirmed)="onListContextualAction($event)"
      >
        <ng-container *appActionsMenuButton>
          <button
            type="button"
            appButton="outline"
            type="button"
            isCircle
            withIconOnly
          >
            <mat-icon>more_horiz</mat-icon>
          </button>
        </ng-container>

        <ng-container *appActionsMenuItem="let action">
          <mat-icon>{{ action.icon }}</mat-icon>
          {{ action.label }}
        </ng-container>
      </app-actions-menu>
    </ng-container>

  </app-page-header>
</header>

<ul *ngIf="items$ | async as itemGroups">
  <li *ngFor="let group of itemGroups">
    <h2>{{ group.category }}</h2>
    <ul>
      <li
        *ngFor="let item of group.items"
        [class.-done]="item.isDone"
        (click)="onItemClick(item.id)"
      >
        {{ item.amount }}x <strong>{{ item.name }}</strong>
        <br>
        <span *ngIf="item.description">{{ item.description }}</span>
      </li>
    </ul>
  </li>
</ul>

<p>
  Excepteur adipisicing nulla tempor tempor consectetur aliqua minim commodo officia ipsum aliqua. Aliqua mollit ad adipisicing proident. Deserunt eiusmod dolor reprehenderit ut fugiat nulla consectetur officia et ad sit commodo ea tempor. Elit tempor pariatur nostrud elit commodo velit qui aliquip. Ea nulla fugiat laborum aliqua cupidatat non nulla exercitation consectetur dolor tempor amet. Officia elit id irure adipisicing laboris velit tempor non sint Lorem incididunt do sit minim. Mollit duis amet occaecat nisi veniam Lorem.

In fugiat pariatur eu minim ipsum duis. Duis exercitation culpa velit ullamco pariatur sunt tempor consequat qui sit commodo laboris ex mollit. Officia ea nulla nulla magna ea.

Incididunt veniam do officia ipsum anim nisi proident exercitation exercitation culpa labore. Quis nulla occaecat non pariatur voluptate proident aliqua. Ut do esse incididunt incididunt excepteur. Reprehenderit eiusmod laborum magna adipisicing. Consectetur commodo sit in consequat laboris ea id Lorem aute dolore dolor ut nulla eu.

Pariatur cillum esse reprehenderit occaecat excepteur aute reprehenderit sit aliquip minim excepteur ut. Amet exercitation occaecat velit ad ut ipsum esse minim cupidatat id enim. Exercitation tempor amet excepteur ipsum consequat do ex aliqua veniam qui laboris velit commodo qui. Consequat laboris est incididunt officia ipsum pariatur cillum est aliquip proident sunt sit. Nisi dolore aliquip culpa cillum magna aliquip ullamco incididunt do. Est ipsum officia pariatur est ea quis nostrud irure.

Commodo Lorem et sint magna nulla amet mollit minim in sit ad. Mollit eiusmod Lorem sint aute non consequat commodo fugiat aliqua sint. Anim esse ea ex ea cillum tempor fugiat ullamco amet officia ut adipisicing est minim. Qui ipsum dolore et ipsum veniam consectetur proident labore ex velit commodo ad laborum deserunt. Ad ex consequat dolore commodo id nostrud ut irure amet nisi.

Laborum est pariatur labore sint. Eu ut ex in duis dolore et ipsum ea proident. Est ullamco ex adipisicing ad. Do in ea in qui non Lorem cillum sunt deserunt. Aliqua fugiat eu eu est nostrud sit in deserunt ullamco consequat. Proident occaecat anim velit et commodo ex consectetur quis in Lorem minim labore. Officia sint qui ad est.

Ipsum do ullamco sint aute amet exercitation sit ex labore. Elit laborum aliqua nulla est officia eiusmod reprehenderit. Ut non ad labore irure aliqua nisi excepteur tempor velit. Ad esse irure ea fugiat in proident non. Et deserunt consequat sunt et nisi mollit do sit aute esse nostrud velit consectetur aliquip. Amet amet ad id sit exercitation do quis est dolore. Duis tempor tempor id voluptate voluptate ipsum exercitation ullamco incididunt quis.

Consequat amet nulla et elit nulla consequat aliquip aliquip duis culpa veniam elit cupidatat. Lorem incididunt amet deserunt adipisicing aliqua. Qui Lorem cupidatat incididunt exercitation. Esse proident consequat laborum ex. Aliqua excepteur nostrud cupidatat sunt excepteur nisi. Excepteur cillum fugiat sunt sint esse ad. Consequat velit proident sint minim.

Deserunt commodo commodo exercitation sunt mollit proident ullamco. Lorem consectetur commodo consectetur dolore. Magna quis adipisicing officia velit nulla consequat anim minim. Ut velit ex magna id ullamco duis consequat tempor excepteur sit deserunt ea sit. Culpa adipisicing ipsum mollit mollit esse minim. Consequat in tempor ea do qui nostrud elit.

Dolore Lorem mollit anim aliqua laborum excepteur fugiat enim sint voluptate et laboris dolor incididunt. Laborum est exercitation voluptate nostrud mollit in esse cillum deserunt veniam aliqua nisi culpa. Deserunt tempor ea id cupidatat consectetur commodo do consectetur occaecat mollit incididunt. Dolor aliquip exercitation amet amet Lorem esse est nulla non sit quis eu duis.
</p>
