<ul *ngIf="items$ | async as itemGroups" class="_cards">
  <li *ngFor="let group of itemGroups">
    <app-card-list
      [title]="group.category"
      [items]="group.items"
      [listActions]="categoryContextualMenus.get(group.category) ?? []"
      [itemActionsFn]="getItemActions"
      [isPinned]="true"
      (listActionClicked)="onListAction($event)"
      (itemActionClicked)="onItemAction($event)"
      (itemToggled)="onItemToggle($event)"
      (pinned)="onPinCategory(group.category, $event)"
    />
  </li>
</ul>