/**
 * Theme variables
 *
 * --app-color-primary-300
 * --app-color-primary-500
 * --app-color-secondary-300
 * --app-color-secondary-500
 * --app-color-tertiary-300
 * --app-color-tertiary-500
 */

@mixin _spinner-color($background: #ccc, $foreground: black) {
  background-color: $background;

  ._bar {
    background-color: $foreground;
  }
}

@keyframes linearSpinnerAnimation {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(200%);
  }
}

.app-linear-spinner {
  height: 4px;
  width: 100%;
  display: block;
  overflow: hidden;
  z-index: 5;

  &.-color {
    &-primary {
      @include _spinner-color(
        var(--app-color-primary-300),
        var(--app-color-primary-500)
      );
    }

    &-secondary {
      @include _spinner-color(
        var(--app-color-secondary-300),
        var(--app-color-secondary-500)
      );
    }

    &-tertiary {
      @include _spinner-color(
        var(--app-color-tertiary-300),
        var(--app-color-tertiary-500)
      );
    }
  }

  &.-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  ._bar {
    height: 100%;
    width: 50%;
    animation-duration: 2s;
    animation-name: linearSpinnerAnimation;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
}
