/**
 * Theme variables
 *
 * --app-color-primary-300
 * --app-color-primary-500
 * --app-color-secondary-300
 * --app-color-secondary-500
 * --app-color-tertiary-300
 * --app-color-tertiary-500
 */

@keyframes linearSpinnerAnimation {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(200%);
  }
}

.app-linear-spinner {
  --_color-background: black;
  --_color-foreground: white;

  height: 4px;
  width: 100%;
  display: block;
  overflow: hidden;
  z-index: 5;

  background-color: var(--_color-background);
}

.app-linear-spinner ._bar {
  background-color: var(--_color-foreground);
}

.app-linear-spinner.-color-primary {
  --_color-background: var(--app-color-primary-300);
  --_color-foreground: var(--app-color-primary-500);
}

.app-linear-spinner.-color-secondary {
  --_color-background: var(--app-color-secondary-300);
  --_color-foreground: var(--app-color-secondary-500);
}

.app-linear-spinner.-color-tertiary {
  --_color-background: var(--app-color-tertiary-300);
  --_color-foreground: var(--app-color-tertiary-500);
}

.app-linear-spinner.-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.app-linear-spinner ._bar {
  height: 100%;
  width: 50%;
  animation-duration: 2s;
  animation-name: linearSpinnerAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
