<header>
  <h1>Lists</h1>
  <div class="right">
    <button type="button">...</button>
    <button type="button">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</header>

<button (click)="addItem()">Add item</button>

<ng-container *ngIf="loaded$ | async; else loadingTemplate">
  <ul>
    <li *ngFor="let list of lists$ | async">
      <a [routerLink]="['/lists', list.id]">
        {{ list.name }}
      </a>
    </li>
  </ul>
</ng-container>

<ng-template #loadingTemplate>
  <p>Loading...</p>
</ng-template>
