//
// Color variables
// Ex.: $app-color-mycolor: #123456;
//

$app-color-beige: rgb(248,242,230);
$app-color-red: rgba(241,86,55);
$app-color-yellow: rgba(221,178,24);
$app-color-green: rgba(154,181,166);
$app-color-black: rgb(18, 52, 86);
