//
// Height variables
// Ex.: $app-height-something: 100px;
//

$app-height-notification-progress: 3px;
$app-height-card-list-item: 2.5rem;
$app-height-demo-header: 5rem;
$app-height-demo-header-margin: 1rem;
$app-height-autocomplete-options: 320px;
