//
// Position variables
// Ex.: $app-pos-something: 100px;
//

$app-pos-notification-mobile-top: 6vh;
$app-pos-notification-mobile-right: 2.5vw;
$app-pos-notification-mobile-bottom: auto;
$app-pos-notification-mobile-left: 2.5vw;
