//
// Width variables
// Ex.: $app-width-something: 100px;
//

$app-width-container: 800px;
$app-width-notification-min: 350px;
$app-width-notification-max: 450px;
$app-width-demo-navigation: 200px;
$app-width-modal: 500px;
