@mixin app-root() {
  :root {
    // In mobile view, the container takes all width
    --app-width-container: 100vw;

    @media (min-width: 1024px) {
      // In desktop view, the container gets fixed width
      --app-width-container: #{$app-width-container};
    }
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: var(--app-root-color-background, $app-color-grey-400);
    color: var(--app-root-color-foreground, $app-color-black);
  }
}
