<app-page-header>
  <h1>Basic</h1>
</app-page-header>

<app-page-header
  [withControlledBackButton]="true"
  (backClicked)="consoleLog('backClicked')"
>
  <h1>With controlled back button</h1>
</app-page-header>

<app-page-header [withBackButton]="true">
  <h1>With contextual menu</h1>

  <ng-container slot="right">
    <app-actions-menu
      id="page-header-menu"
      [actions]="actions"
      position="left"
      (actionConfirmed)="consoleLog($event)"
    >
      <ng-container *appActionsMenuButton>
        <button
          type="button"
          appButton="outline"
          type="button"
          isCircle
          withIconOnly
        >
          <ng-icon [svg]="matMoreHoriz" />
        </button>
      </ng-container>

      <ng-container *appActionsMenuItem="let action">
        <ng-icon [svg]="action.icon" />
        {{ action.label }}
      </ng-container>
    </app-actions-menu>
  </ng-container>
</app-page-header>
