/**
 * Theme variables
 * --app-bottom-menu-top-border-color
 */

.app-bottom-menu {
  display: flex;
  justify-content: stretch;
  align-items: center;
  border-top: 2px solid var(--app-bottom-menu-top-border-color);
}
