<ng-container *ngIf="vm$ | async as vm">

  <!-- Decrement -->
  <button
    type="button"
    appButton="primary"
    size="small"
    withIconOnly
    [disabled]="!vm.isMinusEnabled"
    class="-decrement"
    (click)="onDecrement()"
  >
    <mat-icon>remove</mat-icon>
  </button>

  <!-- Value -->
  <span class="_value">
    {{ vm.value }}
  </span>

  <!-- Increment -->
  <button
    type="button"
    appButton="primary"
    size="small"
    withIconOnly
    [disabled]="!vm.isPlusEnabled"
    class="-increment"
    (click)="onIncrement()"
  >
    <mat-icon>add</mat-icon>
  </button>

</ng-container>
