<ng-container *ngIf="vm$ | async as vm">

  <!-- Decrement -->
  <button
    type="button"
    class="_button -decrement"
    [class.-disabled]="!vm.isMinusEnabled"
    (click)="onDecrement()"
  >
    <mat-icon>remove</mat-icon>
  </button>

  <span class="_value">
    {{ vm.value }}
  </span>

  <!-- Increment -->
  <button
    type="button"
    class="_button -increment"
    [class.-disabled]="!vm.isPlusEnabled"
    (click)="onIncrement()"
  >
    <mat-icon>add</mat-icon>
  </button>

</ng-container>