<h2>Color</h2>
<div class="buttons -inline">
  <button appIconButton="primary">
    <ng-icon [svg]="icon.matSchedule" />
  </button>

  <button appIconButton="secondary">
    <ng-icon [svg]="icon.matSchedule" />
  </button>

  <button appIconButton="tertiary">
    <ng-icon [svg]="icon.matSchedule" />
  </button>

  <button appIconButton="outline">
    <ng-icon [svg]="icon.matSchedule" />
  </button>

  <button appIconButton="ghost">
    <ng-icon [svg]="icon.matSchedule" />
  </button>
</div>

<h2>Size</h2>
<div class="buttons -inline">
  <button appIconButton size="extra-small">
    <ng-icon [svg]="icon.matSearch" />
  </button>

  <button appIconButton size="small">
    <ng-icon [svg]="icon.matSearch" />
  </button>

  <button appIconButton size="medium">
    <ng-icon [svg]="icon.matSearch" />
  </button>

  <button appIconButton size="large">
    <ng-icon [svg]="icon.matSearch" />
  </button>
</div>

<h2>Circled</h2>
<div class="buttons -inline">
  <button appIconButton circled size="extra-small">
    <ng-icon [svg]="icon.matPhone" />
  </button>

  <button appIconButton circled size="small">
    <ng-icon [svg]="icon.matPhone" />
  </button>

  <button appIconButton circled size="medium">
    <ng-icon [svg]="icon.matPhone" />
  </button>

  <button appIconButton circled size="large">
    <ng-icon [svg]="icon.matPhone" />
  </button>
</div>

<h2>Disabled</h2>
<div class="buttons -inline">
  <button appIconButton [disabled]="true">
    <ng-icon [svg]="icon.matPhone" />
  </button>

  <button appIconButton circled [disabled]="true">
    <ng-icon [svg]="icon.matPhone" />
  </button>
</div>

<h2>Floating buttons</h2>

<button
  appIconButton
  circled
  size="large"
  floating="fixed"
  floatingRight="2rem"
  floatingBottom="2rem"
>
  <ng-icon [svg]="icon.matAdd" />
</button>

<br /><br />

<div class="fab-container">
  <button
    appIconButton
    circled
    size="medium"
    floating="container"
    floatingRight="2rem"
    floatingBottom="2rem"
  >
    <ng-icon [svg]="icon.matClear" />
  </button>

  <p>
    Magna in do est ea do incididunt aliquip aliquip esse ea. Aliquip voluptate
    nulla ipsum ipsum ex commodo et adipisicing. Ex et exercitation irure id
    cillum sit deserunt deserunt mollit sunt ex consectetur proident.
  </p>
  <p>
    Excepteur est consectetur non id adipisicing ea pariatur adipisicing et
    cillum laborum irure occaecat dolor. Exercitation enim cillum nulla enim
    tempor pariatur ex. Aliquip aute ad anim sint ex. Adipisicing ullamco enim
    do ad duis ad nisi pariatur labore minim eu et laboris eiusmod. Ex nisi
    dolore nulla ullamco ipsum ut voluptate. Eu excepteur voluptate dolore
    deserunt nulla velit irure quis consequat. Proident voluptate minim est duis
    voluptate.
  </p>
  <p>
    Sunt mollit commodo aliquip do duis. Mollit sit proident culpa in elit sunt
    ex amet sunt aliqua reprehenderit. Nisi laboris duis fugiat ea eiusmod
    cillum esse reprehenderit nulla velit eu ullamco adipisicing irure. Aute non
    occaecat id sint laboris laboris cupidatat labore proident.
  </p>
</div>
