.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.buttons.-inline {
  flex-direction: row;
  flex-wrap: wrap;
}

.fab-container {
  position: relative;
  padding: 1rem;
  border: 2px solid var(--app-color-black);
  margin-bottom: 50vh;
}
